$icon-size: 48px;

.adf-info-drawer-layout {
    height: 100%;

    .adf-manage-versions-empty,
    .adf-manage-versions-no-permission {
        margin: 24px;
        color: rgba(0, 0, 0, 0.54);
        text-align: justify;

        &-icon {
            display: block;
            width: $icon-size;
            height: $icon-size;
            font-size: $icon-size;
            margin: 0 auto 8px;
        }
    }
}
