@import 'variables';

$alfresco-primary-accent--hue-3: #ff6d00;
$alfresco-warn-color--hue-3: #d50000;
$alfresco-dark-color--hue-3: #546e7a;

.upload-dialog {
    z-index: 999;
}

.adf-file-uploading-row {
    &__status {
        &--done {
            color: $alfresco-app-color--default !important;
        }

        &--error {
            color: $alfresco-primary-accent--hue-3 !important;
        }
    }

    &__action {
        &--cancel {
            color: $alfresco-warn-color--hue-3 !important;
        }

        &--remove {
            color: $alfresco-dark-color--hue-3 !important;
        }
    }
}
