@import 'variables-color';
@import 'mixins';

adf-document-list {
    @include flex-column;
}

.adf-document-list--loading {
    .adf-data-table {
        @include flex-column;
        justify-content: center;
        align-items: center;
    }

    .adf-datatable-table-cell {
        border: none !important;
    }
}

adf-datatable {
    @include flex-column;
    overflow-y: scroll;

    .adf-data-table-card {
        border: 0px !important;
    }
}

.adf-data-table-card {
    border: 0px !important;
}

.adf-datatable-row {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

@media (max-width: 600px) {

    .adf-datatable-row {
        margin: auto !important;
    }

    .adf-data-table-card .adf-datatable-body:after {
        display: none !important;
    }
}

.adf-data-table {
    border: none !important;

    .adf-datatable-header, .adf-datatable-row, .adf-data-table-cell {
        color: $alfresco-secondary-text-color;
        &:focus {
            outline: none !important;
        }
    }

    .adf-datatable-table-cell-header:focus {
        outline: none !important;
    }

    .adf-datatable-body .adf-datatable-row {
        &:hover, &:focus {
            background-color: $alfresco-app-color--hue-1;
        }

        &.is-selected, &.is-selected:hover {
            background-color: $alfresco-app-color--hue-1;
        }
    }

    .adf-data-table-cell, .adf-datatable-header {
        width: 100%;
        text-align: left;
    }

    .app-location-link,
    .adf-location-cell {
        a {
            text-decoration: none;
            color: $alfresco-primary-text-color;

            &:hover {
                color: #2196F3;
                text-decoration: underline;
            }
        }
    }

    .adf-datatable-body .adf-data-table-cell--image {
        padding-left: 24px;
        padding-right: 0;
        width: 10px;
    }

    .adf-data-table-cell--ellipsis .cell-value,
    .adf-data-table-cell--ellipsis__name .cell-value {
        display: flex;
        align-items: center;
    }

    .adf-data-table-cell--ellipsis .adf-datatable-cell,
    .adf-data-table-cell--ellipsis__name .adf-datatable-cell {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .adf-data-table-cell--ellipsis .adf-datatable-cell {
        max-width: 7vw;
    }

    .adf-data-table-cell--ellipsis__name .adf-datatable-cell {
        position: absolute;
        max-width: calc(100% - 2em);
    }

    .adf-datatable-row:last-child .adf-datatable-table-cell {
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
}

.adf-document-list--empty {
    .adf-data-table {
        @include flex-column;
        justify-content: center;
        align-items: center;
    }

    .adf-data-table .adf-datatable-row:hover,
    .adf-data-table .adf-datatable-row:focus {
        background-color: unset;
        cursor: default;
    }
}
