@import '../variables';

adf-document-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    & > adf-datatable {
        height: 100%;
    }
}


.adf-data-table {
    border: none !important;

    th, tr, td {
        color: $alfresco-secondary-text-color;
        &:focus {
            outline: none !important;
        }
    }

    tbody tr {
        &:hover, &:focus {
            background-color: $alfresco-app-color--hue-1;
        }

        &.is-selected, &.is-selected:hover {
            background-color: $alfresco-app-color--hue-1;
        }
    }

    .adf-data-table__header--sorted-asc,
    .adf-data-table__header--sorted-desc {
        &:hover {
            &:before {
                color: inherit !important;
            }
        }
    }

    .app-location-link,
    .adf-location-cell {
        a {
            text-decoration: none;
            color: $alfresco-primary-text-color;

            &:hover {
                color: #2196F3;
                text-decoration: underline;
            }
        }
    }

    .adf-no-content-container {
        border: none !important;
    }


    .adf-data-table-cell--ellipsis {
        width: 100%;
    }

    .adf-data-table-cell--ellipsis__name {
        width: 85%;
    }

    .adf-data-table-cell--ellipsis .cell-value,
    .adf-data-table-cell--ellipsis__name .cell-value {
        display: flex;
        align-items: center;
    }

    .adf-data-table-cell--ellipsis .adf-datatable-cell,
    .adf-data-table-cell--ellipsis__name .adf-datatable-cell {
        white-space: nowrap;
        display: block;
        position: absolute;
        max-width: calc(100% - 2em);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.empty-list {
    .adf-data-table {
        height: 100%;

        tr:hover, tr:focus {
            background-color: unset;
            cursor: default;
        }
    }

    &__block {
        color: $alfresco-secondary-text-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            line-height: 0;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
    }

    &__block > mat-icon {
        font-size: 52px;
        height: 52px;
        width: 52px;
    }
}
