@import 'variables';

.adf-toolbar {
    .mat-toolbar-single-row {
        padding: 0 14px;
        height: 48px;
    }

    &.inline {
        .mat-toolbar {
            border: none !important;
            padding: 0;
        }
    }
}

@mixin toolbar-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    .adf-toolbar {
        @include angular-material-theme($theme);

        &.inline {
            .mat-toolbar {
                background-color: mat-color($background, background);
            }
        }
    }

    .secondary-options {
        @include angular-material-theme($theme);

        .toolbar__option--active {
            color: mat-color($accent) !important;
        }

        .toolbar__option--default {
            color: mat-color($primary, .87) !important;
        }

        button span {
            color: mat-color($primary, .87);
        }
    }
}
