@mixin adf-version-manager-theme($theme) {
  adf-version-manager {
    .mat-list .mat-3-line {
      height: auto !important;
      width: 100% !important;
    }

    .mat-list-item-content {
      padding: 16px 0 !important;
    }

    .adf-version-list-item-comment.mat-line {
      height: 100%;
      word-break: break-all;
      white-space: unset !important;
      overflow: unset !important;
    }
  }
}
