@import 'mixins';

@mixin adf-document-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  $document-list-selection-color: mat-color($primary) !default;
  $document-list-selection-background: #e0f7fa !default;
  $document-list-background: mat-color($background, background) !default;
  $document-list-text-color: mat-color($foreground, text, 0.54) !default;
  $document-list-name-text-color: mat-color($foreground, text) !default;
  $document-list-thumbnail-width: 50px !default;

  .adf-datatable-list {
    border: none;

    .adf-datatable-link {
      &.adf-name-column,
      &.adf-library-name-column {
        color: $document-list-name-text-color;

        &:hover {
          color: $document-list-selection-color;
        }

        .adf-datatable-cell-value {
          position: static;
          max-width: 35vw;

          @include layout-bp(lt-sm) {
            position: absolute;
            max-width: 85vw;
          }
        }
      }
    }

    .adf-datatable-cell--image {
      max-width: $document-list-thumbnail-width;
      width: $document-list-thumbnail-width;
    }
  }

  .mat-icon.adf-datatable-selected > svg {
    fill: $document-list-selection-color;
  }

  adf-document-list {
    @include flex-column;
    background-color: $document-list-background;
  }

  .adf-datatable {
    @include flex-column;
    overflow-y: scroll;

    .adf-datatable-cell-header,
    .adf-datatable-cell {
      padding: 0 2px;
      box-sizing: border-box;

      &:focus {
        outline: none !important;
      }

      .adf-datatable-cell-value {
        width: 100% !important;
        white-space: nowrap;
      }
    }

    .adf-datatable-cell {
      color: $document-list-text-color;
    }

    .adf-datatable-body .adf-datatable-row {
      &:hover,
      &:focus {
        background-color: $document-list-selection-background;
      }

      &.adf-is-selected,
      &.adf-is-selected:hover {
        background-color: $document-list-selection-background;
      }
    }

    .adf-datatable--empty {
      .adf-datatable-row {
        &:hover,
        &:focus {
          background-color: unset;
        }
      }
    }
  }
}
