@mixin adf-layout-container-theme($theme) {
  $adf-layout-container-height: 100% !default;

  adf-layout-container {
    .mat-drawer-content > div,
    .mat-drawer-content > div > div {
      height: $adf-layout-container-height;
    }

    // todo: workaround for ADF 3.2 issue with the width
    // see ACA-2369 for more details
    .adf-container-full-width {
      width: inherit;
    }
  }
}
