@import 'mixins';

@mixin adf-sidenav-layout-theme($theme) {
  adf-sidenav-layout {
    @include flex-column;

    // TODO: move to ADF
    @media screen and ($mat-xsmall) {
      .mat-drawer {
        width: calc(-50px + 100vw) !important;
        max-width: 320px !important;
      }
    }

    .mat-drawer-content {
      @include flex-column;
      overflow: auto;
    }
  }

  .adf-sidenav-layout {
    @include flex-column;
  }

  .mat-drawer-content > div,
  .mat-drawer-content > div > div {
    @include flex-column;
  }
}
