@import 'mixins';

@mixin adf-document-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  $document-list-selection-color: mat-color($primary) !default;
  $document-list-selection-background: #e0f7fa !default;
  $document-list-background: mat-color($background, background) !default;
  $document-list-text-color: mat-color($foreground, text, 0.54) !default;
  $document-list-name-text-color: mat-color($foreground, text) !default;
  $data-table-thumbnail-width: 50px !default;

  .adf-datatable-list {
    border: none;

    .adf-datatable-cell-container {
      .adf-datatable-content-cell,
      .adf-name-column,
      .adf-library-name-column,
      .adf-trashcan-name-column,
      .adf-name-location-cell {
        position: absolute;
        max-width: calc(100% - 0px);

        .adf-datatable-cell-value {
          text-overflow: ellipsis;
          overflow: hidden;
        }

        // remove this style once the [ADF-4401] issue is fixed:
        &.adf-datatable-cell {
          .adf-datatable-cell-value {
            position: static;
            width: auto;
          }
        }
      }

      .adf-library-name-column {
        // same as on top comment
        &.adf-datatable-cell {
          color: $document-list-name-text-color;

          &:hover {
            color: $document-list-selection-color;
          }
        }
      }
    }

    .adf-datatable-cell-value {
      display: block;
    }

    .adf-datatable-cell--image {
      min-width: $data-table-thumbnail-width;
      width: $data-table-thumbnail-width;
      max-width: $data-table-thumbnail-width;
    }
  }

  .mat-icon.adf-datatable-selected > svg {
    fill: $document-list-selection-color;
  }

  adf-document-list {
    @include flex-column;
    background-color: $document-list-background;
  }

  .adf-datatable {
    @include flex-column;
    overflow-y: scroll;

    .adf-datatable-cell-header,
    .adf-datatable-cell {
      padding: 0 2px;
      box-sizing: border-box;
      min-width: 120px;

      &.adf-datatable-cell--fileSize {
        min-width: 80px;
      }

      &:first-child {
        min-width: $data-table-thumbnail-width;
      }

      &:focus {
        outline: none !important;
      }
    }

    .adf-datatable-cell {
      color: $document-list-text-color;
    }

    .adf-datatable-body .adf-datatable-row {
      &:hover,
      &:focus {
        background-color: $document-list-selection-background;
      }

      &.adf-is-selected,
      &.adf-is-selected:hover {
        background-color: $document-list-selection-background;
      }
    }

    .adf-datatable--empty {
      .adf-datatable-row {
        &:hover,
        &:focus {
          background-color: unset;
        }
      }
    }
  }

  .adf-search-results .adf-datatable .adf-datatable-cell {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: auto;
  }
}
