@mixin adf-toolbar-theme($theme) {
  $foreground: map-get($theme, foreground);

  .app-toolbar-menu-item:last-child > .mat-divider-horizontal {
    display: none;
  }

  .adf-viewer {
    .adf-toolbar {
      .mat-toolbar {
        color: mat-color($foreground, text, 0.54);
      }
    }
  }

  .adf-toolbar {
    @include angular-material-theme($theme);

    .mat-toolbar-single-row {
      padding: 0 14px;
      height: 48px;
    }

    &.inline {
      .mat-toolbar {
        background-color: inherit;
        border: none !important;
        padding: 0;
      }
    }
  }
}
