@import 'mixins';

@mixin adf-style-fixes($theme) {
  //  add here all ADF style overrides
  //  and create a task to move them to ADF

  .adf-content-node-selector-content-list {
    .adf-content-selector-modified-cell {
      display: none;
    }

    .adf-content-selector-modifier-cell {
      display: none;
    }
  }

  .aca-template-node-selector-dialog {
    adf-content-node-selector-panel {
      .adf-content-node-selector-content-input {
        display: none;
      }
      .adf-sites-dropdown {
        display: none;
      }
    }
  }
}
