@mixin adf-upload-button-theme($theme) {
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);

  adf-upload-button {
    .mat-raised-button.mat-primary {
      width: 100%;
      border-radius: 0;
      text-align: left;
      line-height: 48px;
      box-shadow: none;
      transform: none;
      transition: unset;
      background-color: transparent;
    }

    .mat-raised-button.mat-primary:hover:not([disabled]) {
      background-color: mat-color($foreground, text, 0.04);
    }

    .mat-raised-button.mat-primary[disabled] {
      background: none;
    }

    .mat-raised-button.mat-primary[disabled] label {
      color: mat-color($foreground, text, 0.38);
    }

    .mat-raised-button:not([disabled]):active {
      box-shadow: none;
    }

    mat-icon {
      color: mat-color($foreground, text, 0.54);
    }

    label {
      font-weight: normal;
      text-align: left;
      margin-left: 12px;
      color: mat-color($primary);
    }

    &:hover label {
      color: mat-color($accent);
      opacity: inherit;
    }
  }
}
