@mixin adf-layout-header-theme($theme) {
    $background: map-get($theme, background);

    .adf-layout-header {
        .mat-toolbar-single-row {
            color: #ffffff !important;

            .adf-app-logo {
                margin-left: 6px;
            }
            .adf-app-title {
                letter-spacing: -0.3px;
            }
            .mat-icon-button .mat-icon {
                font-size: 29px;
            }
        }

        .adf-toolbar-divider {
            margin: 0 5px;

            & > div {
                background-color: mat-color($background, card, 1);
            }
        }
    }
}
