@import 'mixins';

@mixin adf-style-fixes($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  $document-list-text-color: mat-color($foreground, text, 0.54) !default;
  $document-list-name-text-color: mat-color($foreground, text) !default;

  .adf-datatable .adf-datatable-cell {
    color: $document-list-text-color;
  }

  .adf-content-node-selector-content-list .adf-datatable-list {
    .adf-datatable-cell {
      flex: 0 1 auto;
      min-width: 1px;
    }
  }

  adf-permission-list {
    .adf-display-permission-container {
      flex: 1;

      .adf-datatable-permission {
        width: 100%;

        .adf-datatable-cell--icon, // '--icon' should be replaced with '--image' as in all the other data tables
        .adf-datatable-cell--image {
          min-width: $data-table-thumbnail-width;
        }
      }
    }
  }
}
