@mixin adf-upload-dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .adf-upload-dialog {
    z-index: 999;
  }

  // todo: move to ADF 3.x.x
  .adf-file-uploading-row {
    &__group,
    &__block {
      min-width: 100px;
      display: flex;
      justify-content: flex-end;
    }

    &__version {
      flex: 0;

      .mat-chip {
        padding: 2px 6px;
      }

      .mat-chip.mat-chip-disabled {
        opacity: 1;
      }
    }
  }

  .adf-file-uploading-row {
    &__status {
      &--done {
        color: mat-color($accent);
      }

      &--error {
        color: mat-color($warn);
      }
    }

    &__action {
      &--cancel {
        color: mat-color($warn);
      }

      &--remove {
        color: mat-color($warn);
      }
    }
  }
}
