@mixin adf-sidebar-action-menu-theme($theme) {
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    .adf-sidebar-action-menu {
        .adf-sidebar-action-menu-button {
            font-size: 12.7px;
            font-weight: normal;
            text-transform: uppercase;
        }
    }

    .mat-menu-panel.adf-sidebar-action-menu-panel {
        max-width: 290px !important;
    }

    .adf-sidebar-action-menu-panel {
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .adf-sidebar-action-menu-panel .mat-menu-content {
        width: 100%;
    }

    .adf-sidebar-action-menu-icon {
        margin: 0;
    }

    .adf-sidebar-action-menu-icon div[sidebar-menu-expand-icon] {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .adf-sidebar-action-menu {
        width: 100%;
    }

    .adf-sidebar-action-menu-options {
        width: 100% !important;

        .mat-menu-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            color: mat-color($foreground, text, 0.54);
            line-height: 48px;
            box-shadow: none;
            transform: none;
            transition: unset;
            font-weight: normal;
            text-transform: capitalize;
            color: mat-color($primary);

            &:hover {
                color: mat-color($accent);
            }
        }

        .mat-menu-item[disabled],
        .mat-menu-item[disabled]:hover {
            color: mat-color($foreground, text, 0.38);
        }
    }
}
