@mixin app-layout-theme($theme) {
  .app-layout {
    @include flex-column;

    router-outlet[name='viewer'] + * {
      width: 100%;
      height: 100%;
      z-index: 999;
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
    }
  }

  @media screen and (max-width: 599px) {
    .adf-app-title {
      display: none;
    }
  }

  @media screen and (max-width: 719px) {
    .adf-app-logo {
      display: none;
    }
  }
}
