<ng-container *ngIf="nodeId">
    <adf-viewer
        [fileNodeId]="nodeId"
        [allowNavigate]="navigateMultiple"
        [canNavigateBefore]="previousNodeId"
        [canNavigateNext]="nextNodeId"
        [overlayMode]="true"
        (showViewerChange)="onVisibilityChanged($event)"
        (navigateBefore)="onNavigateBefore()"
        (navigateNext)="onNavigateNext()">

        <adf-viewer-toolbar-actions>

            <button
                mat-icon-button
                #selection="adfFavorite"
                [adf-node-favorite]="selectedEntities"
                matTooltip="{{ 'APP.ACTIONS.FAVORITE' | translate }}">
                <mat-icon [ngClass]="{ 'icon-highlight': selection.hasFavorites() }">
                    {{ selection.hasFavorites() ? 'star' :'star_border' }}
                </mat-icon>
            </button>

            <button
                mat-icon-button
                *ngIf="canCopyFile()"
                [app-copy-node]="selectedEntities"
                matTooltip="{{ 'APP.ACTIONS.COPY' | translate }}">
                <mat-icon>content_copy</mat-icon>
            </button>

            <button
                mat-icon-button
                *ngIf="canMoveFile()"
                [app-move-node]="selectedEntities"
                matTooltip="{{ 'APP.ACTIONS.MOVE' | translate }}">
                <mat-icon>library_books</mat-icon>
            </button>

            <button
                mat-icon-button
                *ngIf="canDeleteFile()"
                (click)="deleteFile()"
                matTooltip="{{ 'APP.ACTIONS.DELETE' | translate }}">
                <mat-icon>delete</mat-icon>
            </button>

        </adf-viewer-toolbar-actions>
    </adf-viewer>
</ng-container>
