.aca-rule-options {
  display: flex;
  flex-direction: row;
  gap: 24px;

  &__option {
    display: flex;
    flex-direction: column;
  }

  &.aca-read-only &__checkbox > div > div:first-child {
    display: none;
  }

  .aca-hide-error-script-dropdown {
    visibility: hidden;
  }
}
