.aca-rule-options {
  fieldset {
    display: flex;
    flex-direction: row;
    gap: 24px;
    border: none;
    padding: 0;
    margin: 0;
  }

  &__option {
    display: flex;
    flex-direction: column;
  }

  &__error-script-dropdown {
    margin-top: 4px;
  }

  &.aca-read-only &__checkbox > div > div:first-child {
    display: none;
  }

  &.aca-read-only &__error-script-dropdown {
    margin-left: -13px;
  }

  .aca-hide-error-script-dropdown {
    visibility: hidden;
  }
}
