.sidenav {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  .section:last-child {
    border-bottom: 0;
  }

  .section {
    padding: 8px 14px;
  }

  .action-menu {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .menu__item {
    padding: 12px 0;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    height: 24px;
    user-select: none;
  }

  .item--parent {
    font-weight: 600;
  }

  .item--label {
    cursor: pointer;
    width: 240px;
    padding-left: 10px;
  }

  .item--child {
    padding-left: 25px;
  }

  .item--label:focus {
    outline: none;
  }

  .item--label__trigger {
    padding-left: 0;
  }

  .mat-expansion-panel-header {
    padding: 0 8px !important;
  }

  .mat-expansion-panel-header-title span {
    margin-left: 8px;
  }

  .mat-expansion-panel-body {
    padding: 0 24px 0px;
  }

  .mat-expansion-panel-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
