<div class="sidenav">
  <ng-container [ngSwitch]="mode">
    <div
      *ngFor="let group of groups; trackBy: trackById"
      class="section"
      [ngClass]="'section--' + mode"
    >
      <ng-container *ngSwitchCase="'expanded'">
        <mat-list-item *ngFor="let item of group.items; trackBy: trackById">
          <ng-container *ngIf="expandedTemplate">
            <ng-template
              [ngTemplateOutlet]="expandedTemplate"
              [ngTemplateOutletContext]="{ $implicit: item }"
            >
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!expandedTemplate">
            <app-expand-menu [item]="item"></app-expand-menu>
          </ng-container>
        </mat-list-item>
      </ng-container>

      <ng-container *ngSwitchCase="'collapsed'">
        <div
          class="list-item"
          *ngFor="let item of group.items; trackBy: trackById"
        >
          <ng-container *ngIf="collapsedTemplate">
            <ng-template
              [ngTemplateOutlet]="collapsedTemplate"
              [ngTemplateOutletContext]="{ $implicit: item }"
            >
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!collapsedTemplate">
            <app-button-menu [item]="item"></app-button-menu>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
