@import 'variables';

$sidenav-section--h-padding: 24px;
$sidenav-section--v-padding: 8px;

$sidenav-menu-item--h-padding: 24px;
$sidenav-menu-item--v-padding: 12px;

$sidenav-menu-item--icon-size: 24px;

:host {
    .sidenav {
        display: flex;
        flex: 1;
        flex-direction: column;

        &__section:last-child {
            border-bottom: 0;
        }

        .section--new--mini  {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__section {
            padding:
                $sidenav-section--v-padding
                $sidenav-section--h-padding;

            border-bottom: 1px solid $alfresco-divider-color;
            position: relative;

            &--new {
                padding-top: 2 * $sidenav-section--v-padding;
                padding-bottom: 2 * $sidenav-section--v-padding;
                height: 40px;
            }

            &--new__button {
                width: 100%;
                color: $alfresco-white;
                background-color: $alfresco-primary-accent--default;
            }

            .new__button--mini {
                color: $alfresco-primary-accent--default;
            }
        }

        &-menu {
            display: inline-flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style-type: none;

            &__item {
                height: 24px;
                padding: 12px 0;
            }
        }

        &-link {
            flex-direction: row;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $alfresco-secondary-text-color;
            text-decoration: none;
            height: 24px;

            &--active {
                color: $alfresco-primary-accent--default;
            }

            &:not(&--active):hover {
                color: $alfresco-primary-text-color;
            }

            &.disabled {
                cursor: default !important;
                color: $alfresco-secondary-text-color !important;
                opacity: .25;
            }

            &--noicon {
                padding-left: 26px;
            }
        }

        &-link__icon {
            width: 24px;
        }

        &-link__label {
            opacity: 1;
            width: 240px;
            margin-left: 20px;
        }
    }
}
