<div class="adf-search-container">
    <div>
        <button mat-icon-button
                id="adf-search-button"
                class="adf-search-button"
                [title]="'SEARCH.BUTTON.TOOLTIP' | translate">
            <mat-icon [attr.aria-label]="'SEARCH.BUTTON.ARIA-LABEL' | translate">search</mat-icon>
        </button>
        <mat-form-field class="adf-input-form-field-divider">
            <ng-container>
                <input matInput #searchInput
                    [attr.aria-label]="'SEARCH.INPUT.ARIA-LABEL' | translate"
                    [type]="inputType"
                    id="adf-control-input"
                    [(ngModel)]="searchTerm"
                    (ngModelChange)="inputChange($event)"
                    (keyup.enter)="searchSubmit($event)">
            </ng-container>

            <div matSuffix class="adf-clear-search-icon-wrapper">
                <mat-icon *ngIf="searchTerm.length > 0"
                          (click)="clear()">clear
                </mat-icon>
            </div>
        </mat-form-field>
    </div>
</div>
