<div class="app-search-container">
    <button mat-icon-button
            id="app-search-button"
            class="app-search-button"
            [title]="'SEARCH.BUTTON.TOOLTIP' | translate">
        <mat-icon [attr.aria-label]="'SEARCH.BUTTON.ARIA-LABEL' | translate">search</mat-icon>
    </button>
    <mat-form-field class="app-input-form-field">
        <input matInput #searchInput
            [attr.aria-label]="'SEARCH.INPUT.ARIA-LABEL' | translate"
            [type]="inputType"
            id="app-control-input"
            [(ngModel)]="searchTerm"
            (ngModelChange)="inputChange($event)"
            (keyup.enter)="searchSubmit($event)">
      <mat-placeholder class="placeholder" *ngIf="!searchTerm.length">{{ 'SEARCH.INPUT.PLACEHOLDER' | translate }}</mat-placeholder>

      <div matSuffix class="app-prefix-search-icon-wrapper">
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </mat-form-field>
</div>
