@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  src: url('MaterialSymbolsOutlined.ttf') format('tff');
  src: url('MaterialSymbolsOutlined.woff2') format('woff2');
}

.mat-icons-outlined {
  /* stylelint-disable */
  font-family: 'Material Icons Outlined';
  /* stylelint-enable */
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
