@import 'variables';

article {
    color: $alfresco-secondary-text-color;
}

article:first-of-type {
    padding-bottom: 0;
}

article:last-of-type {
    margin-bottom: 50px;
}

header {
    line-height: 24px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.2px;
}

a {
    text-decoration: none;
    color: $alfresco-primary-text-color;
}

.padding {
    padding: 25px;
}

.padding-top-bottom {
    padding: 25px 0 25px 0;
}

.padding-left-right {
    padding: 0 25px 0 25px;
}
