<div class="inner-layout inner-layout--scroll">
    <div class="inner-layout__content">
        <div class="inner-layout__panel content--scroll">
            <article *ngIf="repository" class="padding">
                <header class="header padding-left">Alfresco Content Services</header>
                <p class="padding-left"> version: {{ repository.edition }} {{ repository.version.display }} </p>
            </article>

            <article class="padding-top-bottom" *ngIf="license">
                <header class="header padding-left-right">License</header>
                <adf-datatable [data]="license"></adf-datatable>
            </article>

            <article class="padding-top-bottom">
                <header class="header padding-left-right">Status</header>
                <adf-datatable [data]="status"></adf-datatable>
            </article>

            <article class="padding-top-bottom">
                <header class="header padding-left-right">Modules</header>
                <adf-datatable [data]="modules"></adf-datatable>
            </article>

            <article class="padding">
                <header class="header padding-left">Alfresco Content Application</header>
                <p class="padding-left"> version: {{ releaseVersion }} </p>
            </article>

            <article *ngIf="githubUrlCommitAlpha" class="padding">
                <header class="header">Source code</header>

                <small>You are running the project based on the following commit:</small>

                <p>
                    <a [href]="githubUrlCommitAlpha" target="blank">{{githubUrlCommitAlpha}}</a>
                </p>
            </article>

            <article>
                <header class="header padding-left-right">Packages</header>

                <small class="padding-left-right">Current project is using the following ADF libraries:</small>

                <adf-datatable [data]="data"></adf-datatable>
            </article>
        </div>
    </div>
</div>
