<app-page-layout>
  <app-page-layout-content [scrollable]="true">
    <div class="main-content">
      <article>
        <header>{{ 'application.name' | adfAppConfig }}</header>
        <p>{{ 'APP.ABOUT.VERSION' | translate }} {{ releaseVersion }}</p>
      </article>

      <article>
        <header>{{ 'APP.ABOUT.PLUGINS.TITLE' | translate }}</header>
        <app-extension-list [data]="extensions$ | async"></app-extension-list>
      </article>

      <article *ngIf="repository">
        <header>Alfresco Content Services</header>
        <p>
          {{ 'APP.ABOUT.VERSION' | translate }} {{ repository.edition }}
          {{ repository.version.display }}
        </p>
      </article>

      <article *ngIf="license">
        <header>{{ 'APP.ABOUT.LICENSE.TITLE' | translate }}</header>
        <adf-datatable [data]="license"></adf-datatable>
      </article>

      <article>
        <header>{{ 'APP.ABOUT.STATUS.TITLE' | translate }}</header>
        <adf-datatable [data]="status"></adf-datatable>
      </article>

      <article>
        <header>{{ 'APP.ABOUT.MODULES.TITLE' | translate }}</header>
        <adf-datatable [data]="modules"></adf-datatable>
      </article>

      <article>
        <header>{{ 'APP.ABOUT.PACKAGES.TITLE' | translate }}</header>
        <app-package-list [data]="dependencyEntries"></app-package-list>
      </article>
    </div>
  </app-page-layout-content>
</app-page-layout>
