<aca-page-layout>
  <aca-page-layout-content [scrollable]="true">
    <div class="main-content">
      <article>
        <header>{{ 'application.name' | adfAppConfig }}</header>
        <p>{{ 'APP.ABOUT.VERSION' | translate }} {{ releaseVersion }}</p>
      </article>

      <ng-container *ngIf="(extensions$ | async) as extensions">
        <article *ngIf="extensions.length > 0">
          <header>{{ 'APP.ABOUT.PLUGINS.TITLE' | translate }}</header>
          <app-extension-list [data]="extensions"></app-extension-list>
        </article>
      </ng-container>

      <ng-container *ngIf="repository">
        <article>
          <header>Alfresco Content Services</header>
          <p>
            {{ 'APP.ABOUT.VERSION' | translate }} {{ repository.edition }}
            {{ repository.version.display }}
          </p>
        </article>

        <article *ngIf="licenseEntries">
          <header>{{ 'APP.ABOUT.LICENSE.TITLE' | translate }}</header>
          <app-license-list [data]="licenseEntries"></app-license-list>
        </article>

        <article *ngIf="statusEntries">
          <header>{{ 'APP.ABOUT.STATUS.TITLE' | translate }}</header>
          <app-status-list [data]="statusEntries"></app-status-list>
        </article>

        <article *ngIf="repository?.modules">
          <header>{{ 'APP.ABOUT.MODULES.TITLE' | translate }}</header>
          <app-module-list [data]="repository.modules"></app-module-list>
        </article>
      </ng-container>

      <article *ngIf="dependencyEntries">
        <header>{{ 'APP.ABOUT.PACKAGES.TITLE' | translate }}</header>
        <app-package-list [data]="dependencyEntries"></app-package-list>
      </article>
    </div>
  </aca-page-layout-content>
</aca-page-layout>
