.aca-rule-list-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 20px;
  cursor: pointer;

  p {
    margin: 6px 0 0;
    color: rgba(33, 35, 40, 0.7);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__name {
      font-size: 1.2em;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__description {
    font-size: 0.8em;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.aca-selected {
    background: var(--adf-theme-background-selected-button-color);
  }
}
