# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/.tmp
/app/.tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/closest-config-finder.sh
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/www
.env
.eslintcache

# e2e
/e2e/*.map
/e2e-output
/e2e-downloads
.protractor-fail-fast
.protractor-smartrunner
/protractorFailuresReport

# System Files
.DS_Store
Thumbs.db
