# Fail on high severity vulnerabilities during audit
audit-level=high

# Use exact versions to prevent unexpected updates
save-exact=true
@alfresco:registry=https://registry.npmjs.org/
@jsr:registry=https://npm.jsr.io/