dist: trusty
sudo: required
services:
  - docker
addons:
  chrome: stable
language: node_js
node_js:
  - '10'
before_script:
  - sudo /etc/init.d/postgresql stop
before_install:
  - npm install -g npm@latest
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
jobs:
  include:
    - stage: test
      name: 'Code quality checks'
      script:
        - npm run lint
    - stage: test
      name: 'Unit tests'
      script:
        - npm run test:ci
        - bash <(curl -s https://codecov.io/bash) -X gcov
    - stage: e2e
      name: 'Nginx'
      script: npm run build.e2e && npm run e2e:docker
    - stage: e2e
      name: 'Tomcat'
      script: npm run build.tomcat.e2e && npm run docker.tomcat.e2e
