@import 'mixins';

:host {
    @include flex-column;
}

ng-content {
    @include flex-column;
}

.sidenav--hidden {
    visibility: hidden !important;
    width: 0 !important;
    transform: unset !important;
    opacity: 0 !important;
}

.mat-sidenav-container {
    @include flex-column;
}

.mat-sidenav {
    overflow: hidden;
}

.mat-sidenav-content,
.mat-drawer-transition .mat-drawer-content {
    transform: unset !important;
    transition-property: unset !important;
    transition-duration: unset !important;
    transition-timing-function: unset !important;
}
