<div>
    <div title="{{ user?.id }}">
        <span>
            <span class="current-user__full-name">{{ userName }}</span>
            <span
                class="current-user__avatar am-avatar am-avatar--light"
                [matMenuTriggerFor]="userMenu">
                    {{ userInitials }}
            </span>
        </span>
    </div>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item adf-logout>
            {{ 'APP.SIGN_OUT' | translate }}
        </button>
    </mat-menu>
</div>
