<div title="{{ (profile$ | async)?.id }}">
  <div class="current-user__full-name">{{ (profile$ | async)?.userName }}</div>
  <button
    mat-icon-button
    [attr.aria-label]="
      'AVATAR.ACCESSIBILITY.AVATAR_BUTTON_ARIA_LABEL' | translate
    "
    class="current-user__avatar am-avatar"
    [matMenuTriggerFor]="userMenu"
  >
    {{ (profile$ | async)?.initials }}
  </button>
</div>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false">
  <button
    *ngIf="languagePicker$ | async"
    mat-menu-item
    [matMenuTriggerFor]="langMenu"
  >
    {{ 'APP.LANGUAGE' | translate }}
  </button>

  <ng-container *ngIf="showLogout">
    <button mat-menu-item (click)="onLogoutEvent()" adf-logout>
      {{ 'APP.SIGN_OUT' | translate }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #langMenu="matMenu">
  <adf-language-menu></adf-language-menu>
</mat-menu>
