<adf-toolbar class="app-menu" [style.background-color]="headerColor$ | async">
    <adf-toolbar-title>
        <a class="app-menu__title" title="{{ appName$ | async }}" [routerLink]="[ '/' ]">
            <img [src]="logo" alt="{{ appName$ | async }}" />
        </a>
    </adf-toolbar-title>
</adf-toolbar>


<mat-accordion multi="true" displayMode="flat">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ 'APP.SETTINGS.REPOSITORY-SETTINGS' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="form" novalidate (ngSubmit)="apply(form.value, form.valid)">
            <div>
                <mat-form-field class="settings-input">
                    <input matInput
                        formControlName="ecmHost"
                        type="text"
                        tabindex="2"
                        placeholder="ACS Repository URL">
                    <mat-error *ngIf="form.get('ecmHost').hasError('pattern')">
                        {{ 'APP.SETTINGS.INVALID-VALUE-FORMAT' | translate }}
                    </mat-error>
                    <mat-error *ngIf="form.get('ecmHost').hasError('required')">
                            {{ 'APP.SETTINGS.REQUIRED-FIELD' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="settings-buttons">
                <button mat-button (click)="reset()">
                    {{ 'APP.SETTINGS.RESET' | translate }}
                </button>
                <button mat-button color="primary" type="submit" [disabled]="!form.valid">
                    {{ 'APP.SETTINGS.APPLY' | translate }}
                </button>
            </div>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'APP.SETTINGS.APPLICATION-SETTINGS' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox
            [ngModel]="languagePicker$ | async"
            (change)="onLanguagePickerValueChanged($event)">
            Language Picker
        </mat-checkbox>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="(profile$ | async)?.isAdmin">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'APP.SETTINGS.EXPERIMENTAL-FEATURES' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let flag of experimental">
            <mat-checkbox
                [(ngModel)]="flag.value"
                (change)="onToggleExperimentalFeature(flag.key, $event)">
                {{ flag.key }}
            </mat-checkbox>
        </div>
    </mat-expansion-panel>
</mat-accordion>
