.aca-rule-details {
  &__form {
    position: relative;

    & > div {
      padding: 8px 20px;
      width: 100%;
      box-sizing: border-box;

      &.aca-rule-details__form__description {
        padding-top: 0;
        border: none;
        align-items: flex-start;
      }
    }

    &__row {
      display: flex;
      gap: 8px;

      & > label,
      & > .aca-label {
        font-weight: bold;
        width: 20%;
        min-width: 100px;
        max-width: 150px;
        padding: 0.75em 0;
      }

      & > label {
        margin-top: 11px;
      }

      & > div {
        flex-grow: 1;
      }

      &__field {
        width: 100%;
        max-width: 400px;
        font-size: inherit;

        &__textarea {
          min-height: 4em;
        }
      }

      &.aca-rule-details__form__actions {
        .aca-label {
          margin-top: 14px;
        }
      }

      &.aca-rule-details__form__triggers,
      &.aca-rule-details__form__options {
        .aca-label {
          padding-top: 2px;
        }
      }
    }

    &:not(:nth-child(1)) {
      border-top: 1px solid var(--theme-border-color);
    }

    &__conditions {
      width: 100%;

      & > .aca-rule-details-error {
        margin-left: 16px;
        color: inherit;
      }
    }

    .aca-rule-details-error {
      font-size: 75%;
      height: 1em;
    }

    &__actions {
      .aca-rule-action-list {
        flex: 1;
      }
    }

    /* stylelint-disable selector-class-pattern */
    &.aca-read-only,
    .mat-form-field-disabled {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__trailing,
      .mdc-notched-outline__notch {
        border: none;
      }

      .mdc-line-ripple {
        &::before,
        &::after {
          display: none;
        }
      }

      *:disabled,
      .mat-mdc-select-disabled .mat-mdc-select-value {
        color: inherit;
      }

      .mat-mdc-select-arrow-wrapper {
        display: none;
      }
    }
  }
}
