<div class="adf-search-container" [matMenuTriggerFor]="searchOptionsMenu">
  <div>
    <button mat-icon-button
            id="adf-search-button"
            class="adf-search-button"
            [title]="'SEARCH.BUTTON.TOOLTIP' | translate">
      <mat-icon [attr.aria-label]="'SEARCH.BUTTON.ARIA-LABEL' | translate">search</mat-icon>
    </button>
    <mat-form-field class="adf-input-form-field-divider">
        <input matInput
               [attr.aria-label]="'SEARCH.INPUT.ARIA-LABEL' | translate"
               [type]="'text'"
               [disabled]="true"
               [value]="searchedWord">

      <div matSuffix class="adf-clear-search-icon-wrapper">
        <mat-icon *ngIf="searchedWord.length > 0"
                  (click)="$event.stopPropagation()">clear
        </mat-icon>
      </div>
    </mat-form-field>
  </div>
</div>

<mat-menu #searchOptionsMenu="matMenu">

    <app-search-input-control #searchInputControl
                              (click)="$event.stopPropagation()"
                              (submit)="onSearchSubmit($event)"
                              [(ngModel)]="searchedWord"
                              ngDefaultControl
                              (searchChange)="onSearchChange($event)">
    </app-search-input-control>

    <div id="search-options">
      <mat-checkbox *ngFor="let option of searchOptions"
                    [(ngModel)]="option.value"
                    [disabled]="option.shouldDisable()"
                    (click)="$event.stopPropagation()">
        {{ option.key }}
      </mat-checkbox>
    </div>

</mat-menu>
