<div class="app-search-container" [matMenuTriggerFor]="searchOptionsMenu">
    <button mat-icon-button
            class="app-search-button"
            [title]="'SEARCH.BUTTON.TOOLTIP' | translate">
      <mat-icon [attr.aria-label]="'SEARCH.BUTTON.ARIA-LABEL' | translate">search</mat-icon>
    </button>
    <mat-form-field class="app-input-form-field">
        <input matInput
               [attr.aria-label]="'SEARCH.INPUT.ARIA-LABEL' | translate"
               [type]="'text'"
               [disabled]="true"
               [value]="searchedWord">
      <mat-placeholder class="placeholder" *ngIf="!searchedWord.length">{{ 'SEARCH.INPUT.PLACEHOLDER' | translate }}</mat-placeholder>

      <div matSuffix class="app-prefix-search-icon-wrapper">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </mat-form-field>
</div>

<mat-menu #searchOptionsMenu="matMenu" class="app-search-options-menu">
    <app-search-input-control #searchInputControl
                              (click)="$event.stopPropagation()"
                              (submit)="onSearchSubmit($event)"
                              (searchChange)="onSearchChange($event)">
    </app-search-input-control>
    <div id="search-options">
      <mat-checkbox *ngFor="let option of searchOptions"
                    [(ngModel)]="option.value"
                    [disabled]="option.shouldDisable()"
                    (click)="$event.stopPropagation()">
        {{ option.key | translate }}
      </mat-checkbox>
    </div>
</mat-menu>
