@mixin aca-search-input-theme($theme) {
  $background: map-get($theme, background);

  .aca-search-input {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    .adf-search-control {
      color: mat-color($background, card);

      .mat-form-field-underline {
        background-color: mat-color($background, card);
      }

      .adf-input-form-field-divider {
        font-size: 14px;
      }
    }

    .adf-search-button.mat-icon-button {
      left: -15px;
      margin-left: 15px;
      align-items: flex-start;
      font: 400 11px system-ui;
      color: mat-color($background, card);

      .mat-icon {
        font-size: 24px;
        padding-right: 0;
      }
    }
  }
}
