@mixin aca-search-input-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $search-width: 594px;
  $search-height: 40px;
  $search-background: rgba(#efefef, 0.54);
  $search-border-radius: 4px;
  $top-margin: 12px;
  $border: 1px solid mat-color($foreground, divider, 0.07);

  .aca-search-input {
    margin-right: 7px;
    background-color: $search-background;
    border-radius: $search-border-radius;
    height: $search-height;
  }

  .app-search-container {
    width: $search-width;
    height: $search-height + $top-margin;
  }

  .app-search-control {
    margin-top: -$top-margin;
  }

  .app-search-options-menu {
    &.mat-menu-panel {
      background-color: mat-color($background, dialog);
      width: $search-width;
      max-width: unset;
      border-radius: $search-border-radius;
      margin-top: $top-margin;
    }

    .mat-menu-content:not(:empty) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  #search-options {
    padding: 20px 0;
    color: mat-color($foreground, text, 0.54);
    font-size: 16px;
    letter-spacing: -0.7px;
    border-top: $border;

    mat-checkbox {
      padding: 3px 24px 3px 19px;

      .mat-checkbox-inner-container {
        height: 18px;
        width: 18px;
      }

      .mat-checkbox-label {
        padding: 0 0 0 11px;
      }

      .mat-checkbox-frame {
        border-color: mat-color($foreground, text, 0.54);
      }
    }
  }
}
