@import 'mixins';

.adf-search-results {
  @include flex-row;

  &__facets {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__content {
    @include flex-column;
    border-left: 1px solid #eee;
  }

  &__content-header {
    display: flex;
    padding: 0 25px 0 25px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  &--info-text {
    flex: 1;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }

  .adf-search-filter {
    min-width: 260px;
    max-width: 320px;
    padding: 5px;
    height: 100%;
    overflow: scroll;

    &--hidden {
      display: none;
    }
  }

  .content {
    @include flex-row;
    flex: unset;
    height: unset;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-wrap: wrap;

    &__side--left {
      @include flex-column;
      height: unset;
    }
  }

  .adf-datatable {
    .adf-datatable-row {
      padding: 0 15px;
    }

    .adf-datatable-cell {
      margin: 0 5px;
      padding-left: 5px;
      padding-top: 9px;
      padding-bottom: 9px;
      min-height: auto;

      .adf-datatable-cell-value {
        display: inline-block;
        padding: 0;
      }
    }
  }

  .adf-search-date-range .mat-form-field:not(:first-child) {
    margin-top: 20px;
  }
}
