<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb root="APP.BROWSE.RECENT.TITLE">
        </adf-breadcrumb>

        <adf-toolbar class="inline">

            <button
                mat-icon-button
                color="primary"
                *ngIf="isFileSelected"
                title="{{ 'APP.ACTIONS.VIEW' | translate }}"
                (click)="showPreview(firstSelectedNode)">
                <mat-icon>open_in_browser</mat-icon>
            </button>

            <button
                mat-icon-button
                color="primary"
                *ngIf="hasSelection"
                title="{{ 'APP.ACTIONS.DOWNLOAD' | translate }}"
                [adfNodeDownload]="selectedNodes">
                <mat-icon>get_app</mat-icon>
            </button>

            <button mat-icon-button
                [color]="infoDrawerOpened ? 'accent' : 'primary'"
                *ngIf="hasSelection"
                title="{{ 'APP.ACTIONS.DETAILS' | translate }}"
                (click)="toggleSidebar()">
                <mat-icon>info_outline</mat-icon>
            </button>

            <button
                color="primary"
                mat-icon-button
                *ngIf="hasSelection"
                title="{{ 'APP.ACTIONS.MORE' | translate }}"
                [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu"
                [overlapTrigger]="false">
                <button
                    mat-menu-item
                    #selection="adfFavorite"
                    [adf-node-favorite]="selectedNodes">
                    <mat-icon color="primary" *ngIf="selection.hasFavorites()">star</mat-icon>
                    <mat-icon *ngIf="!selection.hasFavorites()">star_border</mat-icon>
                    <span>{{ 'APP.ACTIONS.FAVORITE' | translate }}</span>
                </button>

                <button
                    mat-menu-item
                    [acaCopyNode]="selectedNodes">
                    <mat-icon>content_copy</mat-icon>
                    <span>{{ 'APP.ACTIONS.COPY' | translate }}</span>
                </button>

                <button
                    mat-menu-item
                    *ngIf="permission.check(selectedNodes, ['delete'])"
                    [acaMoveNode]="selectedNodes">
                    <mat-icon>library_books</mat-icon>
                    <span>{{ 'APP.ACTIONS.MOVE' | translate }}</span>
                </button>

                <button
                    mat-menu-item
                    *ngIf="permission.check(selectedNodes, ['delete'])"
                    [acaDeleteNode]="selectedNodes">
                    <mat-icon>delete</mat-icon>
                    <span>{{ 'APP.ACTIONS.DELETE' | translate }}</span>
                </button>

                <button
                    mat-menu-item
                    *ngIf="isFileSelected"
                    [acaNodeVersions]="selectedNodes">
                    <mat-icon>history</mat-icon>
                    <span>{{ 'APP.ACTIONS.VERSIONS' | translate }}</span>
                </button>
            </mat-menu>
        </adf-toolbar>
    </div>

    <div class="inner-layout__content">
        <div class="inner-layout__panel">
            <adf-document-list #documentList
                currentFolderId="-recent-"
                selectionMode="multiple"
                [navigate]="false"
                [sorting]="[ 'modifiedAt', 'desc' ]"
                [acaSortingPreferenceKey]="sortingPreferenceKey"
                [imageResolver]="imageResolver"
                (node-dblclick)="onNodeDoubleClick($event.detail?.node?.entry)"
                (ready)="onDocumentListReady($event, documentList)"
                (node-select)="onNodeSelect($event, documentList)"
                (node-unselect)="onNodeUnselect($event, documentList)">

                <empty-folder-content>
                    <ng-template>
                        <adf-empty-content
                            icon="access_time"
                            [title]="'APP.BROWSE.RECENT.EMPTY_STATE.TITLE'"
                            subtitle="APP.BROWSE.RECENT.EMPTY_STATE.TEXT">
                        </adf-empty-content>
                    </ng-template>
                </empty-folder-content>

                <data-columns>
                    <data-column
                        key="$thumbnail"
                        type="image"
                        [sortable]="false"
                        class="image-table-cell">
                    </data-column>

                    <data-column
                        class="adf-data-table-cell--ellipsis__name"
                        key="name"
                        title="APP.DOCUMENT_LIST.COLUMNS.NAME">
                        <ng-template let-value="value" let-context>
                            <span class="adf-datatable-cell" title="{{ context?.row?.obj | adfNodeNameTooltip }}">{{ value }}</span>
                        </ng-template>
                    </data-column>

                    <data-column
                        key="path"
                        title="APP.DOCUMENT_LIST.COLUMNS.LOCATION">
                        <ng-template let-context>
                            <app-location-link [context]="context"></app-location-link>
                        </ng-template>
                    </data-column>

                    <data-column
                        key="content.sizeInBytes"
                        type="fileSize"
                        title="APP.DOCUMENT_LIST.COLUMNS.SIZE">
                    </data-column>

                    <data-column
                        key="modifiedAt"
                        title="APP.DOCUMENT_LIST.COLUMNS.MODIFIED_ON">
                        <ng-template let-value="value">
                            <span title="{{ value | date:'medium' }}">{{ value | adfTimeAgo }}</span>
                        </ng-template>
                    </data-column>
                </data-columns>

            </adf-document-list>

            <adf-pagination
                [supportedPageSizes]="'pagination.supportedPageSizes' | adfAppConfig"
                [target]="documentList"
                (changePageSize)="onChangePageSize($event)">
            </adf-pagination>
        </div>

        <div class="inner-layout__side-panel" *ngIf="infoDrawerOpened">
            <adf-info-drawer [title]="'APP.INFO_DRAWER.TITLE' | translate">
                <adf-info-drawer-tab [label]="'APP.INFO_DRAWER.TABS.PROPERTIES' | translate">
                    <adf-content-metadata-card
                        [readOnly]="!permission.check(firstSelectedNode.entry, ['update'])"
                        [displayEmpty]="permission.check(firstSelectedNode.entry, ['update'])"
                        [preset]="'custom'"
                        [node]="firstSelectedNode.entry">
                    </adf-content-metadata-card>
                </adf-info-drawer-tab>

                <adf-info-drawer-tab [label]="'APP.INFO_DRAWER.TABS.VERSIONS' | translate">
                    <ng-container *ngIf="isFileSelected;else choose_document_template">
                        <adf-version-manager
                            *ngIf="firstSelectedNode.entry"
                            [node]="firstSelectedNode.entry">
                        </adf-version-manager>
                    </ng-container>
                    <ng-template #choose_document_template>
                        <div class="adf-manage-versions-empty">
                            <mat-icon class="adf-manage-versions-empty-icon">face</mat-icon>
                            {{ 'VERSION.SELECTION.EMPTY' | translate }}
                        </div>
                    </ng-template>
                </adf-info-drawer-tab>
            </adf-info-drawer>
        </div>
    </div>
</div>
