<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb root="APP.BROWSE.RECENT.TITLE">
        </adf-breadcrumb>

        <adf-toolbar class="inline">

            <button
                md-icon-button
                *ngIf="canPreviewFile(documentList.selection)"
                title="{{ 'APP.ACTIONS.VIEW' | translate }}"
                (click)="showPreview(documentList.selection[0]?.entry?.id)">
                <md-icon>open_in_browser</md-icon>
            </button>

            <button
                md-icon-button
                *ngIf="hasSelection(documentList.selection)"
                title="{{ 'APP.ACTIONS.DOWNLOAD' | translate }}"
                [app-download-node]="documentList.selection">
                <md-icon>get_app</md-icon>
            </button>

            <button
                md-icon-button
                *ngIf="hasSelection(documentList.selection)"
                title="{{ 'APP.ACTIONS.MORE' | translate }}"
                [mdMenuTriggerFor]="actionsMenu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #actionsMenu="mdMenu"
                [overlapTrigger]="false"
                class="secondary-options">
                <button
                    md-menu-item
                    #favorite="favorite"
                    [app-favorite-node]="documentList.selection">
                    <md-icon [ngClass]="{ 'icon-highlight': favorite.hasFavorites() }">
                        {{ favorite.hasFavorites() ? 'star' :'star_border' }}
                    </md-icon>
                    <span>{{ 'APP.ACTIONS.FAVORITE' | translate }}</span>
                </button>

                <button
                    md-menu-item
                    [app-copy-node]="documentList.selection">
                    <md-icon>content_copy</md-icon>
                    <span>{{ 'APP.ACTIONS.COPY' | translate }}</span>
                </button>

                <button
                    md-menu-item
                    *ngIf="canMove(documentList.selection)"
                    [app-move-node]="documentList.selection">
                    <md-icon>library_books</md-icon>
                    <span>{{ 'APP.ACTIONS.MOVE' | translate }}</span>
                </button>

                <button
                    md-menu-item
                    *ngIf="canDelete(documentList.selection)"
                    [app-delete-node]="documentList.selection">
                    <md-icon>delete</md-icon>
                    <span>{{ 'APP.ACTIONS.DELETE' | translate }}</span>
                </button>
            </md-menu>
        </adf-toolbar>
    </div>

    <div class="inner-layout__content">

        <adf-document-list #documentList
            [ngClass]="{ 'app-no-content': documentList.isEmpty() }"
            currentFolderId="-recent-"
            selectionMode="multiple"
            [navigate]="false"
            [sorting]="[ 'modifiedAt', 'desc' ]"
            [pageSize]="25"
            [contextMenuActions]="true"
            [contentActions]="false"
            (node-dblclick)="onNodeDoubleClick($event.detail?.node?.entry)">

            <empty-folder-content>
                <ng-template>
                    <div class="app-no-content_block">
                        <md-icon>access_time</md-icon>
                        <p class="app-no-content_title">No recent files or folders</p>
                        <p class="app-no-content_text">Items you upload or edit in the last 30 days are shown here.</p>
                    </div>
                </ng-template>
            </empty-folder-content>

            <data-columns>
                <data-column
                    key="$thumbnail"
                    type="image"
                    [sortable]="false"
                    class="image-table-cell">
                </data-column>

                <data-column
                    key="name"
                    class="app-name-column"
                    title="APP.DOCUMENT_LIST.COLUMNS.NAME">
                    <ng-template let-value="value" let-context>
                        <span title="{{ context?.row?.obj | nodeNameTooltip }}">{{ value }}</span>
                    </ng-template>
                </data-column>

                <data-column
                    key="path"
                    title="APP.DOCUMENT_LIST.COLUMNS.LOCATION"
                    type="location"
                    format="/personal-files">
                </data-column>

                <data-column
                    key="content.sizeInBytes"
                    type="fileSize"
                    title="APP.DOCUMENT_LIST.COLUMNS.SIZE">
                </data-column>

                <data-column
                    key="modifiedAt"
                    type="date"
                    format="timeAgo"
                    title="APP.DOCUMENT_LIST.COLUMNS.MODIFIED_ON">
                </data-column>
            </data-columns>

        </adf-document-list>
    </div>
</div>
