<div class="layout">
    <adf-upload-drag-area
        [parentId]="node?.id"
        [disabled]="!canCreateContent(node)">

        <app-header (menu)="container.toggleMenu()"></app-header>

        <app-layout-container #container
            sidenavMin="70"
            sidenavMax="320"
            [stepOver]="600"
            class="layout__content">

            <app-sidenav
                app-layout-navigation
                [showLabel]="!container.isMenuMinimized">
            </app-sidenav>

             <router-outlet app-layout-content></router-outlet>
        </app-layout-container>

    <adf-file-uploading-dialog position="left"></adf-file-uploading-dialog>
    </adf-upload-drag-area>
</div>
