<div class="layout">
    <adf-upload-drag-area
        [parentId]="node?.id"
        [disabled]="!canCreateContent(node)">

        <app-sidenav-layout
            [sidenavMin]="70"
            [sidenavMax]="320"
            [stepOver]="600"
            [hideSidenav]="isPreview">

            <ng-template appLayoutHeader let-toggleMenu="toggleMenu">
                <app-header (menu)="toggleMenu()"></app-header>
            </ng-template>

            <ng-template appLayoutNavigation let-isMenuMinimized="isMenuMinimized">
                <app-sidenav [showLabel]="!isMenuMinimized()"></app-sidenav>
            </ng-template>
        </app-sidenav-layout>

        <adf-file-uploading-dialog position="left"></adf-file-uploading-dialog>
    </adf-upload-drag-area>
</div>
