<div class="layout">
    <adf-upload-drag-area
        [parentId]="node?.id"
        [disabled]="!permission.check(node, ['create'])">

        <adf-sidenav-layout
            #sidenavManager="acaSidenavManager"
            acaSidenavManager
            [sidenavMin]="70"
            [sidenavMax]="320"
            [stepOver]="600"
            [hideSidenav]="sidenavManager.hideSidenav"
            [expandedSidenav]="expandedSidenav"
            (expanded)="sidenavManager.setState($event)">

            <adf-sidenav-layout-header>
                <ng-template let-toggleMenu="toggleMenu">
                    <aca-header (menu)="toggleMenu()"></aca-header>
                </ng-template>
            </adf-sidenav-layout-header>

            <adf-sidenav-layout-navigation>
                <ng-template let-isMenuMinimized="isMenuMinimized">
                    <app-sidenav [showLabel]="!isMenuMinimized()"></app-sidenav>
                </ng-template>
            </adf-sidenav-layout-navigation>

            <adf-sidenav-layout-content>
                <ng-template>
                    <router-outlet></router-outlet>
                </ng-template>
            </adf-sidenav-layout-content>

        </adf-sidenav-layout>

        <adf-file-uploading-dialog position="left"></adf-file-uploading-dialog>
    </adf-upload-drag-area>
</div>
