@import 'variables';

.app-menu {

    &.adf-toolbar {
        .mat-toolbar {
            background-color: #00bcd4;
            font-family: inherit;
            min-height: $app-menu-height;
            height: $app-menu-height;

            .mat-toolbar-layout {
                height: $app-menu-height;

                .mat-toolbar-row {
                    height: $app-menu-height;
                }
            }
        }

        .adf-toolbar-divider {
            margin-left: 5px;
            margin-right: 5px;

            & > div {
                background-color: $alfresco-white !important;
            }
        }
    }

    .app-menu__title {
        width: 100px;
        height: $app-menu-height;

        line-height: 54px;
        text-decoration: none;
        text-indent: -9999px;

        color: inherit;

        background: url('/assets/images/alfresco-logo-white.svg') no-repeat 0 50%;
        background-size: 100% auto;

        display: block;
        position: relative;
        font-size: 20px;
        line-height: 1;
        letter-spacing: .02em;
        font-weight: 400;
    }
}
