<adf-toolbar class="app-menu" [style.background-color]="backgroundColor" role="heading" aria-level="1">
    <adf-toolbar-title>
        <button
            title="{{ 'APP.ACTIONS.TOGGLE-SIDENAV' | translate }}"
            mat-icon-button
            (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>

        <a class="app-menu__title"
            title="{{ appName }}"
            [routerLink]="[ '/' ]">
            <img [src]="logo" alt="{{ appName }}" />
        </a>
    </adf-toolbar-title>

    <app-search-input></app-search-input>

    <adf-toolbar-divider></adf-toolbar-divider>

    <app-current-user></app-current-user>
</adf-toolbar>
