@import 'variables';

.app-empty-folder {
    color: $alfresco-secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        font-size: 52px;
        height: 52px;
        width: 52px;
    }

    p {
        line-height: 0;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__subtitle,
    &__text {
        font-size: 14px;
        font-weight: 300;
    }
}
