@import 'variables';

.generic-error {
    color: $alfresco-secondary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__title {
        font-size: 16px;
    }

    mat-icon {
        color: $alfresco-warn-color--hue-2;
        direction: rtl;
        font-size: 52px;
        height: 52px;
        width: 52px;
    }
  }
