.aca-rule-simple-condition {
  &__form {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .aca-rule-simple-condition__form__field-input {
      flex: 2;
      font-size: inherit;
    }

    &__comparator-input {
      &.aca-hidden {
        display: none;
      }
    }
  }

  &__auto-complete-loading-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
