.aca-rule-action {
  &__form {
    display: flex;
    flex-direction: row;
    gap: 20px;

    adf-card-view {
      margin-top: -15px;

      .adf-property-list .adf-property adf-card-view-item-dispatcher adf-card-view-textitem {
        display: inline-block;
        width: 100%;

        .adf-textitem-clickable {
          padding-top: 0;
        }

        .adf-textitem-action {
          .adf-textitem-icon {
            margin-left: -10px;
          }
        }
      }
    }
  }

  &-full-width {
    height: fit-content;
    flex: 1;
  }
}
