.aca-custom-name-column {
  display: block;
  align-items: center;

  .aca-name-column-container {
    aca-locked-by {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.54);
      max-width: 100%;
      padding: 0 10px;

      .locked_by--name {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
