<fieldset [attr.aria-labelledby]="ariaLabelledBy">
  @for (trigger of triggerOptions; track trigger) {
    <div>
      @if (readOnly) {
        @if (selectedTriggers[trigger]) {
          <div
            [attr.data-automation-id]="'rule-trigger-value-' + trigger | lowercase">
            {{ 'ACA_FOLDER_RULES.RULE_DETAILS.TRIGGERS.' + trigger | uppercase | translate }}
          </div>
        }
      } @else {
        <mat-checkbox
          [attr.data-automation-id]="'rule-trigger-checkbox-' + trigger | lowercase"
          [checked]="selectedTriggers[trigger]"
          (change)="onTriggerChange(trigger, $event.checked)">
          {{ 'ACA_FOLDER_RULES.RULE_DETAILS.TRIGGERS.' + trigger | uppercase | translate }}
        </mat-checkbox>
      }
    </div>
  }
</fieldset>
