@import 'variables';

adf-search-control {
    color: $alfresco-white;
}

.adf-search-control-wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    .adf-search-button {
        left: -15px;
        margin-left: 13px;
        align-items: flex-start;
        font: 400 11px system-ui;
        color: #fff;
    }
}
