@import '../colors';
@import './custom-palette-creator.scss';

@function get-mat-palettes($primaryColour, $accentColour) {
    $mat-primary-palette: null;
    @if $primary {
        $custom-theme-primary-palette: createColorPalette($primary, 'primary');
        $mat-primary-palette: mat-palette($custom-theme-primary-palette, 500);
    } @else {
        $mat-primary-palette: mat-palette($aca-primary-blue, A100);
    }

    $mat-accent-palette: null;
    @if $accent {
        $custom-theme-accent-palette: createColorPalette($accent, 'accent');
        $mat-accent-palette: mat-palette($custom-theme-accent-palette, 500);
    } @else {
        $mat-accent-palette: mat-palette($aca-accent-green, A200);
    }

    $mat-warn-palette: mat-palette($aca-warn, A100);

    @return (
        primary: $mat-primary-palette,
        accent: $mat-accent-palette,
        warning: $mat-warn-palette,
    )
}
