.aca-rule-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--theme-border-color);
    border-radius: 12px;
    overflow: hidden;

    &__header {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: stretch;
      cursor: pointer;
      color: var(--theme-text-color);
      user-select: none;
      font-size: 0.9em;
      padding: 0.5em 1em;

      & > * {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;

        &__icon {
          transform: scale(0.8);
        }
      }
    }

    &.aca-expanded {
      .aca-rule-list__item__header {
        border-bottom: 1px solid var(--theme-border-color);
      }
    }

    &__all-linked-rules-are-disabled {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      color: var(--theme-disabled-text-color);
      font-style: italic;
      text-align: center;
      padding: 0.5em 0;
      font-size: 0.9em;
    }
  }
}
