.aca-name-column-container {
  aca-locked-by {
    position: absolute;
    top: 35px;
    left: 13px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
  }
}

.aca-custom-name-column {
  display: flex;
  align-items: center;
}
