<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb root="APP.BROWSE.TRASHCAN.TITLE">
        </adf-breadcrumb>

        <adf-toolbar class="inline">
            <button *ifExperimental="'cardview'"
                color="primary"
                mat-icon-button
                (click)="toggleGalleryView()">
                <mat-icon *ngIf="displayMode === 'list'" matTooltip="{{ 'APP.DOCUMENT_LIST.TOOLBAR.CARDVIEW' | translate }}">view_comfy</mat-icon>
                <mat-icon *ngIf="displayMode === 'gallery'" matTooltip="{{ 'APP.DOCUMENT_LIST.TOOLBAR.LISTVIEW' | translate }}">list</mat-icon>
            </button>

            <ng-container *ifExperimental="'extensions'">
                <adf-toolbar-divider></adf-toolbar-divider>
                <button *ngFor="let entry of actions"
                    mat-icon-button
                    color="primary"
                    title="{{ entry.title | translate }}"
                    (click)="runAction(entry.target.action)">
                    <mat-icon>{{ entry.icon }}</mat-icon>
                </button>
                <adf-toolbar-divider></adf-toolbar-divider>
            </ng-container>

            <ng-container *ngIf="!selection.isEmpty">
                <button
                    color="primary"
                    mat-icon-button
                    [acaPermanentDelete]="selection.nodes"
                    title="{{ 'APP.ACTIONS.DELETE_PERMANENT' | translate }}">
                    <mat-icon>delete_forever</mat-icon>
                </button>

                <button
                    color="primary"
                    mat-icon-button
                    [acaRestoreNode]="selection.nodes"
                    title="{{ 'APP.ACTIONS.RESTORE' | translate }}">
                    <mat-icon>restore</mat-icon>
                </button>
            </ng-container>
        </adf-toolbar>
    </div>

    <div class="inner-layout__content">
        <div class="inner-layout__panel">
            <adf-document-list acaDocumentList #documentList
                currentFolderId="-trashcan-"
                selectionMode="multiple"
                [navigate]="false"
                [sorting]="[ 'archivedAt', 'desc' ]">

                <empty-folder-content>
                    <ng-template>
                        <adf-empty-content
                            icon="delete"
                            [title]="'APP.BROWSE.TRASHCAN.EMPTY_STATE.TITLE'">
                            <p class="adf-empty-content__text">{{ 'APP.BROWSE.TRASHCAN.EMPTY_STATE.FIRST_TEXT' | translate }}</p>
                            <p class="adf-empty-content__text">{{ 'APP.BROWSE.TRASHCAN.EMPTY_STATE.SECOND_TEXT' | translate }}</p>
                        </adf-empty-content>
                    </ng-template>
                </empty-folder-content>

                <data-columns>

                    <data-column
                        key="$thumbnail"
                        type="image"
                        [sortable]="false"
                        class="image-table-cell">
                    </data-column>

                    <data-column
                        class="adf-data-table-cell--ellipsis__name"
                        key="name"
                        title="APP.DOCUMENT_LIST.COLUMNS.NAME">
                        <ng-template let-value="value" let-context>
                            <span class="adf-datatable-cell" title="{{ context?.row?.obj | adfNodeNameTooltip }}">{{ value }}</span>
                        </ng-template>
                    </data-column>

                    <data-column
                        key="path.name"
                        title="APP.DOCUMENT_LIST.COLUMNS.LOCATION">
                        <ng-template let-context>
                            <aca-location-link [context]="context"></aca-location-link>
                        </ng-template>
                    </data-column>

                    <data-column
                        key="content.sizeInBytes"
                        title="APP.DOCUMENT_LIST.COLUMNS.SIZE"
                        type="fileSize">
                    </data-column>

                    <data-column
                        key="archivedAt"
                        title="APP.DOCUMENT_LIST.COLUMNS.DELETED_ON">
                        <ng-template let-value="value">
                            <span title="{{ value | date:'medium' }}">{{ value | adfTimeAgo }}</span>
                        </ng-template>
                    </data-column>

                    <data-column
                        *ngIf="user.isAdmin"
                        class="adf-data-table-cell--ellipsis"
                        key="archivedByUser.displayName"
                        title="APP.DOCUMENT_LIST.COLUMNS.DELETED_BY">
                    </data-column>

                </data-columns>
            </adf-document-list>

            <adf-pagination acaPagination [target]="documentList">
            </adf-pagination>
        </div>
    </div>
</div>
