@import 'mixins';
@import 'theme';

$foreground: map-get($theme, foreground);
$primary: map-get($theme, primary);

html,
body {
  @include flex-column;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: mat-color($foreground, text, 0.87);
  margin: 0;

  & > main {
    @include flex-column;
  }
}

// todo: move this to corresponding component theme files
app-root,
app-about,
adf-layout-container,
aca-search-results,
ng-component {
  @include flex-column;
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) {
  .mat-slide-toggle-thumb {
    background-color: mat-color($primary);
  }
  .mat-slide-toggle-bar {
    background-color: mat-color($primary, 0.54);
  }
}
