@import 'mixins';
@import 'variables';
@import 'theme';

html, body {
    @include flex-column;
    font-size: 14px;
    font-family: "Muli", sans-serif;
    color: $alfresco-primary-text-color;
    margin: 0;
}

app-root,
app-layout,
adf-layout-container,
app-search,
ng-component {
    @include flex-column;
}

@import 'layout';

@import './overrides/adf-login';
@import './overrides/adf-sidenav-layout';
@import './overrides/adf-viewer';
@import './overrides/alfresco-document-list';
@import './overrides/alfresco-upload-drag-area';
@import './overrides/alfresco-upload-button';
@import './overrides/alfresco-upload-dialog';
@import './overrides/toolbar';
@import './overrides/adf-viewer-more-actions';
@import './overrides/breadcrumb';
@import './overrides/adf-info-drawer';
