@import '~@angular/material/theming';
@import '~@alfresco/adf-content-services/theming';

@import '../components/sidenav/sidenav.component.theme';
@import '../components/about/about.component.theme';
@import '../components/search/search-input/search-input.component.theme';
@import '../components/settings/settings.component.theme';
@import '../components/current-user/current-user.component.theme';
@import '../components/permissions/permission-manager/permission-manager.component.theme';
@import '../components/context-menu/context-menu.component.theme';
@import '../dialogs/node-versions/node-versions.dialog.theme';
@import '../components/create-menu/create-menu.component.scss';
@import '../components/layout/layout.theme.scss';
@import '../components/shared/content-node-share/content-node-share.dialog.scss';

@import 'overrides/adf-layout-container.theme';
@import './overrides/adf-document-list.theme';

@import 'snackbar';

@mixin custom-theme($theme) {
  @include adf-document-list-theme($theme);

  @include layout-theme($theme);
  @include aca-search-input-theme($theme);
  @include app-permission-manager-theme($theme);
  @include aca-node-versions-dialog-theme($theme);
  @include aca-settings-theme($theme);
  @include snackbar-theme($theme);
  @include sidenav-component-theme($theme);
  @include aca-about-component-theme($theme);
  @include aca-current-user-theme($theme);
  @include aca-context-menu-theme($theme);
  @include app-create-menu-theme($theme);

  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  //Custom variables - ACA specific styling:
  $document-list-selection-color: mat-color($alfresco-ecm-blue, 500);
  $document-list-background: white;
  $data-table-thumbnail-width: 35px;

  $adf-pagination--border: 1px solid mat-color($foreground, text, 0.07);
  $adf-pagination__empty--height: 0;

  $adf-toolbar-single-row-height: 48px;
  $adf-toolbar-padding: 14px;

  $adf-upload-dragging-color: unset;
  $adf-upload-dragging-border: 1px solid #00bcd4;
  $adf-upload-dragging-background: #e0f7fa;
  $adf-upload-dragging-level1-color: unset;
  $adf-upload-dragging-level1-border: none;

  $defaults: (
    --theme-warn-color: mat-color($warn),
    --theme-text-color: mat-color($foreground, text, 0.54),
    --theme-title-color: mat-color($foreground, text, 0.87),
    --theme-text-disabled-color: mat-color($foreground, text, 0.38),
    --theme-border-color: mat-color($foreground, text, 0.07)
  );

  // setup CSS variables for extensions and components
  :root {
    @each $name, $value in $defaults {
      #{$name}: #{$value};
    }
  }
}
