@mixin snackbar-theme($theme) {
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);

  .error-snackbar {
    background-color: mat-color($warn);

    .mat-simple-snackbar-action {
      color: white;
    }
  }

  .warning-snackbar {
    background-color: mat-color($accent);

    .mat-simple-snackbar-action {
      color: white;
    }
  }

  .info-snackbar {
    background-color: mat-color($primary);

    .mat-simple-snackbar-action {
      color: white;
    }
  }
}
