<ng-container *ngIf="!item.panel">
  <button
    acaActiveLink="action-button--active"
    [action]="item.entry"
    [attr.aria-label]="item.entry.title | translate"
    [id]="item.entry.id"
    mat-button
    class="action-button full-width"
  >
    <adf-icon *ngIf="item.entry.icon" [value]="item.entry.icon"></adf-icon>
    <span class="action-button__label">{{ item.entry.title | translate }}</span>
  </button>
</ng-container>

<ng-container *ngIf="item.panel">
  <button
    [ngClass]="{ 'action-button--active': item.activePanel }"
    [attr.aria-label]="item.entry.title | translate"
    [id]="item.entry.id"
    mat-button
    class="action-button full-width"
  >
    <adf-icon *ngIf="item.entry.icon" [value]="item.entry.icon"></adf-icon>
    <span class="action-button__label">{{ item.entry.title | translate }}</span>
  </button>
</ng-container>
