<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb
            [root]="title"
            [folderNode]="node"
            (navigate)="onBreadcrumbNavigate($event)">
        </adf-breadcrumb>

        <adf-toolbar class="inline">
            <app-document-display-mode *ifExperimental="'cardview'"></app-document-display-mode>
            <ng-container *ngFor="let entry of actions; trackBy: trackByActionId">
                <aca-toolbar-action [entry]="entry"></aca-toolbar-action>
            </ng-container>
        </adf-toolbar>
    </div>

    <div [attr.class]="isValidPath ? 'inner-layout__content--hide' : 'inner-layout__content'">
        <aca-generic-error></aca-generic-error>
    </div>

    <div [attr.class]="!isValidPath ? 'inner-layout__content--hide' : 'inner-layout__content'">
        <div class="inner-layout__panel">
            <adf-upload-drag-area
                [parentId]="node?.id"
                [disabled]="!canUpload">

                <adf-document-list #documentList
                    acaDocumentList
                    acaContextActions
                    [display]="documentDisplayMode$ | async"
                    [sorting]="[ 'modifiedAt', 'desc' ]"
                    selectionMode="multiple"
                    [currentFolderId]="node?.id"
                    [allowDropFiles]="true"
                    [navigate]="false"
                    [imageResolver]="imageResolver"
                    (node-dblclick)="navigateTo($event.detail?.node)">

                    <data-columns>
                        <data-column
                            key="$thumbnail"
                            type="image"
                            [sortable]="false"
                            class="image-table-cell">
                        </data-column>

                        <data-column
                            class="adf-data-table-cell--ellipsis__name"
                            key="name"
                            title="APP.DOCUMENT_LIST.COLUMNS.NAME">
                            <ng-template let-value="value" let-context>
                                <span class="adf-datatable-cell dl-link"
                                    title="{{ context?.row?.obj | adfNodeNameTooltip }}"
                                    (click)="navigateTo(context?.row?.obj)">
                                    {{ value }}
                                </span>
                            </ng-template>
                        </data-column>

                        <data-column
                            *ngIf="!isSmallScreen"
                            key="content.sizeInBytes"
                            title="APP.DOCUMENT_LIST.COLUMNS.SIZE">
                            <ng-template let-value="value">
                                <span title="{{ value }} bytes">{{ value | adfFileSize }}</span>
                            </ng-template>
                        </data-column>

                        <data-column
                            *ngIf="!isSmallScreen"
                            key="modifiedAt"
                            title="APP.DOCUMENT_LIST.COLUMNS.MODIFIED_ON">
                            <ng-template let-value="value">
                                <span title="{{ value | date:'medium' }}">{{ value | adfTimeAgo }}</span>
                            </ng-template>
                        </data-column>

                        <data-column
                            *ngIf="!isSmallScreen"
                            class="adf-data-table-cell--ellipsis"
                            key="modifiedByUser.displayName"
                            title="APP.DOCUMENT_LIST.COLUMNS.MODIFIED_BY">
                        </data-column>
                    </data-columns>
                </adf-document-list>

                <adf-pagination acaPagination [target]="documentList">
                </adf-pagination>
            </adf-upload-drag-area>
        </div>

        <div class="inner-layout__side-panel" *ngIf="infoDrawerOpened$ | async">
            <aca-info-drawer [node]="selection.last"></aca-info-drawer>
        </div>
    </div>
</div>
