<aca-page-layout [hasError]="!isValidPath">
  <aca-page-layout-header>
    <adf-breadcrumb
      [root]="title"
      [folderNode]="node"
      [maxItems]="isSmallScreen ? 1 : 0"
      (navigate)="onBreadcrumbNavigate($event)"
    >
    </adf-breadcrumb>

    <adf-toolbar class="adf-toolbar--inline">
      <ng-container *ngFor="let entry of actions; trackBy: trackByActionId">
        <aca-toolbar-action [actionRef]="entry"></aca-toolbar-action>
      </ng-container>
    </adf-toolbar>
  </aca-page-layout-header>

  <aca-page-layout-error>
    <aca-generic-error></aca-generic-error>
  </aca-page-layout-error>

  <aca-page-layout-content>
    <div class="main-content">
      <adf-upload-drag-area [rootFolderId]="node?.id" [disabled]="!canUpload">
        <adf-document-list
          #documentList
          acaDocumentList
          acaContextActions
          [display]="documentDisplayMode$ | async"
          [sorting]="['modifiedAt', 'desc']"
          selectionMode="multiple"
          [currentFolderId]="node?.id"
          [allowDropFiles]="true"
          [navigate]="false"
          [imageResolver]="imageResolver"
          (node-dblclick)="navigateTo($event.detail?.node)"
          (name-click)="navigateTo($event.detail?.node)"
        >
          <data-columns>
            <ng-container *ngFor="let column of columns; trackBy: trackById">
              <ng-container
                *ngIf="
                  column.template && !(column.desktopOnly && isSmallScreen)
                "
              >
                <data-column
                  [key]="column.key"
                  [title]="column.title"
                  [type]="column.type"
                  [format]="column.format"
                  [class]="column.class"
                  [sortable]="column.sortable"
                >
                  <ng-template let-context>
                    <adf-dynamic-column
                      [id]="column.template"
                      [context]="context"
                    >
                    </adf-dynamic-column>
                  </ng-template>
                </data-column>
              </ng-container>

              <ng-container
                *ngIf="
                  !column.template && !(column.desktopOnly && isSmallScreen)
                "
              >
                <data-column
                  [key]="column.key"
                  [title]="column.title"
                  [type]="column.type"
                  [format]="column.format"
                  [class]="column.class"
                  [sortable]="column.sortable"
                >
                </data-column>
              </ng-container>
            </ng-container>
          </data-columns>
        </adf-document-list>

        <adf-pagination acaPagination [target]="documentList"> </adf-pagination>
      </adf-upload-drag-area>
    </div>

    <div class="sidebar" *ngIf="(infoDrawerOpened$ | async)">
      <aca-info-drawer [node]="selection.last"></aca-info-drawer>
    </div>
  </aca-page-layout-content>
</aca-page-layout>
