.adf-version-manager-dialog-panel-list {
  height: 400px;
}

.adf-version-manager-dialog-panel-upload {
  height: 500px;
}

.aca-node-versions-dialog {
  .mat-dialog-title {
    flex: 0 0 auto;
  }

  .mat-dialog-content {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
  }

  .mat-dialog-actions {
    flex: 0 0 auto;
  }

  .mat-dialog-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    margin: 0;
    letter-spacing: -0.5px;
    color: var(--theme-text-bold-color);
  }

  .mat-dialog-actions {
    padding: 8px 8px 24px 8px;
    display: flex;
    justify-content: flex-end;
    color: var(--theme-text-color);

    button {
      text-transform: uppercase;
      font-weight: normal;
    }
  }

  .mat-dialog-content {
    max-height: 100vh;
    overflow: hidden;
    padding: 2px 26px;
  }

  .mat-list-item-content {
    padding: 0;
    margin: 0 16px;
  }

  .adf-version-list-container {
    .adf-version-list {
      height: 250px;
      overflow: hidden;
      padding: 0;
    }

    .mat-list.adf-version-list {
      overflow: auto;
    }
  }
}
