<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb root="APP.BROWSE.LIBRARIES.TITLE">
        </adf-breadcrumb>
        <adf-toolbar class="inline">
        </adf-toolbar>
    </div>

    <div class="inner-layout__content">

        <adf-document-list #documentList
            [attr.class]="documentList.isEmpty() ? 'empty-list' : ''"
            currentFolderId="-mysites-"
            selectionMode="none"
            [navigate]="false"
            [sorting]="[ 'name', 'asc' ]"
            [contextMenuActions]="true"
            [contentActions]="false"
            (node-dblclick)="onNodeDoubleClick($event)">

            <empty-folder-content>
                <ng-template>
                    <div class="empty-list__block">
                        <mat-icon>group_work</mat-icon>
                        <p class="empty-list__title">{{ 'APP.BROWSE.LIBRARIES.EMPTY_STATE.TITLE' | translate }}</p>
                        <p class="empty-list__text">{{ 'APP.BROWSE.LIBRARIES.EMPTY_STATE.TEXT' | translate }}</p>
                    </div>
                </ng-template>
            </empty-folder-content>

            <data-columns>
                <data-column
                    key="$thumbnail"
                    type="image"
                    [sortable]="false"
                    class="image-table-cell">
                </data-column>

                <data-column
                    class="adf-data-table-cell--ellipsis__name"
                    key="title"
                    title="APP.DOCUMENT_LIST.COLUMNS.TITLE">
                    <ng-template let-context>
                        <span class="adf-datatable-cell" title="{{ makeLibraryTooltip(context.row.obj.entry) }}">
                            {{ makeLibraryTitle(context.row.obj.entry) }}
                        </span>
                    </ng-template>
                </data-column>

                <data-column
                    key="visibility"
                    title="APP.DOCUMENT_LIST.COLUMNS.STATUS">
                    <ng-template let-value="value">
                        <span *ngIf="(value == 'PUBLIC')" title="{{ 'APP.SITES_VISIBILITY.PUBLIC' | translate }}">
                            {{ 'APP.SITES_VISIBILITY.PUBLIC' | translate }}
                        </span>
                        <span *ngIf="(value == 'PRIVATE')" title="{{ 'APP.SITES_VISIBILITY.PRIVATE' | translate }}">
                            {{ 'APP.SITES_VISIBILITY.PRIVATE' | translate }}
                        </span>
                        <span *ngIf="(value == 'MODERATED')" title="{{ 'APP.SITES_VISIBILITY.MODERATED' | translate }}">
                            {{ 'APP.SITES_VISIBILITY.MODERATED' | translate }}
                        </span>
                    </ng-template>
                </data-column>
            </data-columns>
        </adf-document-list>

        <adf-pagination [ngClass]="{ 'no-border' : documentList.isEmpty()}"
            [target]="documentList"
            (changePageSize)="onChangePageSize($event)">
        </adf-pagination>
    </div>
</div>
