<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb root="APP.BROWSE.LIBRARIES.TITLE">
        </adf-breadcrumb>

        <adf-toolbar class="inline">
            <button *ifExperimental="'cardview'"
                mat-icon-button
                color="primary"
                (click)="toggleGalleryView()">
                <mat-icon *ngIf="displayMode === 'list'" matTooltip="{{ 'APP.DOCUMENT_LIST.TOOLBAR.CARDVIEW' | translate }}">view_comfy</mat-icon>
                <mat-icon *ngIf="displayMode === 'gallery'" matTooltip="{{ 'APP.DOCUMENT_LIST.TOOLBAR.LISTVIEW' | translate }}">list</mat-icon>
            </button>

            <button
                mat-icon-button
                color="primary"
                *ifExperimental="'libraries'"
                (click)="createLibrary()">
                <mat-icon>create_new_folder</mat-icon>
            </button>

            <ng-container *ngIf="!selection.isEmpty">
                <ng-container *ifExperimental="'libraries'">
                    <button
                        color="primary"
                        mat-icon-button
                        title="{{ 'APP.ACTIONS.MORE' | translate }}"
                        [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu" [overlapTrigger]="false">
                        <button
                            mat-menu-item
                            (click)="deleteLibrary(selection.first)">
                            <mat-icon>delete</mat-icon>
                            <span>{{ 'APP.ACTIONS.DELETE' | translate }}</span>
                        </button>
                    </mat-menu>
                </ng-container>
            </ng-container>
        </adf-toolbar>
    </div>

    <div class="inner-layout__content">
        <div class="inner-layout__panel">
            <adf-document-list acaDocumentList #documentList
                currentFolderId="-mysites-"
                selectionMode="single"
                [navigate]="false"
                [sorting]="[ 'title', 'asc' ]"
                (node-dblclick)="navigateTo($event.detail?.node)">

                <empty-folder-content>
                    <ng-template>
                        <adf-empty-content
                            icon="group_work"
                            [title]="'APP.BROWSE.LIBRARIES.EMPTY_STATE.TITLE'"
                            subtitle="APP.BROWSE.LIBRARIES.EMPTY_STATE.TEXT">
                        </adf-empty-content>
                    </ng-template>
                </empty-folder-content>

                <data-columns>
                    <data-column
                        key="$thumbnail"
                        type="image"
                        [sortable]="false"
                        class="image-table-cell">
                    </data-column>

                    <data-column
                        class="adf-data-table-cell--ellipsis__name"
                        key="title"
                        title="APP.DOCUMENT_LIST.COLUMNS.TITLE">
                        <ng-template let-context>
                            <span
                                class="adf-datatable-cell dl-link"
                                title="{{ makeLibraryTooltip(context.row.obj.entry) }}"
                                (click)="navigateTo(context?.row?.obj)">
                                {{ makeLibraryTitle(context.row.obj.entry) }}
                            </span>
                        </ng-template>
                    </data-column>

                    <data-column
                        key="visibility"
                        title="APP.DOCUMENT_LIST.COLUMNS.STATUS">
                        <ng-template let-value="value">
                            <span *ngIf="(value == 'PUBLIC')" title="{{ 'APP.SITES_VISIBILITY.PUBLIC' | translate }}">
                                {{ 'APP.SITES_VISIBILITY.PUBLIC' | translate }}
                            </span>
                            <span *ngIf="(value == 'PRIVATE')" title="{{ 'APP.SITES_VISIBILITY.PRIVATE' | translate }}">
                                {{ 'APP.SITES_VISIBILITY.PRIVATE' | translate }}
                            </span>
                            <span *ngIf="(value == 'MODERATED')" title="{{ 'APP.SITES_VISIBILITY.MODERATED' | translate }}">
                                {{ 'APP.SITES_VISIBILITY.MODERATED' | translate }}
                            </span>
                        </ng-template>
                    </data-column>
                </data-columns>
            </adf-document-list>

            <adf-pagination acaPagination [target]="documentList">
            </adf-pagination>
        </div>
    </div>
</div>
