@mixin aca-share-dialog-theme($theme) {
  $accent: map-get($theme, accent);

  // fixes [ACA-2069]
  .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-thumb {
      background-color: mat-color($accent);
    }
    .mat-slide-toggle-bar {
      background-color: mat-color($accent, 0.54);
    }
  }
}

@mixin adf-share-link-typography {
  letter-spacing: -0.4px;
  line-height: 2;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  opacity: 0.87;
}

.adf-share-link-dialog {
  .adf-share-link {
    &__dialog-content {
      display: flex;
      flex-direction: column;
    }

    &__label {
      @include adf-share-link-typography;
      flex: 1 1 auto;
    }

    &__title {
      @include adf-share-link-typography;
    }

    &__info {
      @include adf-share-link-typography;
      opacity: 0.54;
      font-size: 13px;
    }

    &--row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    &__input {
      opacity: 0.54;
    }
  }

  .adf-input-action {
    cursor: pointer;
  }

  .mat-form-field-infix {
    border-top: unset;
  }

  .mat-dialog-actions {
    justify-content: flex-end;

    & > button {
      text-transform: uppercase;
    }
  }

  .mat-form-field-flex {
    align-items: center;
  }
}
