<ng-container [ngSwitch]="entry.type">
    <button *ngSwitchCase="'button'"
        mat-icon-button
        color="primary"
        title="{{ entry.title | translate }}"
        (click)="runAction(entry.target.action)">
        <mat-icon>{{ entry.icon }}</mat-icon>
    </button>
    <adf-toolbar-divider *ngSwitchCase="'separator'"></adf-toolbar-divider>
    <ng-container *ngSwitchCase="'menu'">
        <button
            color="primary"
            mat-icon-button
            title="{{ entry.title | translate }}"
            [matMenuTriggerFor]="menu1">
            <mat-icon>{{ entry.icon }}</mat-icon>
        </button>

        <mat-menu #menu1="matMenu"
            [overlapTrigger]="false">
        </mat-menu>
    </ng-container>
</ng-container>
