$aca-primary-blue: (
  50: #e0ebf6,
  100: #b3ccea,
  200: #80aadc,
  300: #4d88cd,
  400: #266fc3,
  500: #0055b8,
  600: #004eb1,
  700: #0044a8,
  800: #003ba0,
  900: #002a91,
  A100: #0055b8,
  A200: #0a1f8f,
  A400: #2a7de1,
  A700: #00c1de,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #000000
  )
);

$aca-accent-green: (
  50: #e7f3e7,
  100: #c2e1c2,
  200: #9acd9a,
  300: #72b971,
  400: #53aa52,
  500: #359b34,
  600: #30932f,
  700: #288927,
  800: #227f21,
  900: #166d15,
  A100: #359b34,
  A200: #00754a,
  A400: #76bc21,
  A700: #c2e76b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #000000,
    A700: #000000
  )
);

$aca-warn: (
  50: #f6e1e5,
  100: #eab5bf,
  200: #dc8495,
  300: #cd526a,
  400: #c32d4a,
  500: #b8082a,
  600: #b10725,
  700: #a8061f,
  800: #a00419,
  900: #91020f,
  A100: #b8082a,
  A200: #db0f36,
  A400: #ff5252,
  A700: #ff8a80,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #000000
  )
);
