@use '@angular/material' as mat;
@import './overrides/adf-style-fixes.theme';
@import './colors';

$mat-primary-palette: mat.define-palette($aca-primary-blue, A100);
$mat-accent-palette: mat.define-palette($aca-accent-green, A200);
$mat-warn-palette: mat.define-palette($aca-warn, A100);

@include mat.core($alfresco-typography);

$custom-theme: mat.define-light-theme(
  $mat-primary-palette,
  $mat-accent-palette,
  $mat-warn-palette
);

@mixin custom-theme($theme) {
  @include mat.all-component-themes($theme);
  @include adf-core-theme($theme);
  @include adf-style-fixes($theme);
}
