@import '~@angular/material/theming';
@import './overrides/adf-style-fixes.theme';
@import './colors';

$mat-primary-palette: mat-palette($aca-primary-blue, A100);
$mat-accent-palette: mat-palette($aca-accent-green, A200);
$mat-warn-palette: mat-palette($aca-warn, A100);

@include mat-core($alfresco-typography);

$custom-theme: mat-light-theme(
  $mat-primary-palette,
  $mat-accent-palette,
  $mat-warn-palette
);

@mixin custom-theme($theme) {
  @include angular-material-theme($theme);
  @include adf-core-theme($theme);
  @include adf-style-fixes($theme);
}
