@import 'mixins';

.adf-search-results {
    @include flex-row;

    &__facets {
        display: flex;
        height: 35px;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border-bottom: 1px solid #eee;
    }

    &__content {
        @include flex-column;
        border-left: 1px solid #eee;
    }

    &__sorting {
        text-align: right;
    }

    .adf-search-filter {
        min-width: 260px;
        padding: 5px;
        height: 100%;
        overflow: scroll;
    }
}
