<div class="inner-layout">
    <div class="inner-layout__header">
        <adf-breadcrumb root="APP.BROWSE.SEARCH.TITLE">
        </adf-breadcrumb>
    </div>

    <div class="adf-search-results__facets">
        <adf-search-chip-list [searchFilter]="searchFilter"></adf-search-chip-list>
    </div>

    <div class="inner-layout__content">
        <adf-search
            #search
            [searchTerm]="searchedWord"
            [maxResults]="maxItems"
            [skipResults]="skipCount"
            (resultLoaded)="onSearchResultLoaded($event)">
        </adf-search>

        <div class="adf-search-results">
            <adf-search-filter #searchFilter></adf-search-filter>

            <div class="adf-search-results__content">
                <div class="adf-search-results__content-header" *ngIf="data?.list.entries.length">
                    <div class="adf-search-results--info-text">{{ 'APP.BROWSE.SEARCH.FOUND_RESULTS' | translate: { number: totalResults } }}</div>
                    <adf-search-sorting-picker></adf-search-sorting-picker>
                </div>

                <adf-document-list
                    #documentList
                    [showHeader]="false"
                    [sortingMode]="'server'"
                    [sorting]="sorting"
                    [node]="data"
                    (node-dblclick)="onNodeDoubleClick($event.detail?.node?.entry)">

                    <empty-folder-content>
                        <ng-template>
                            <div class="empty-search__block">
                                <p class="empty-search__text">Your search returned 0 results</p>
                            </div>
                        </ng-template>
                    </empty-folder-content>
                </adf-document-list>

                <adf-pagination *ngIf="!documentList.isEmpty()"
                    [target]="documentList"
                    (change)="onPaginationChanged($event)">
                </adf-pagination>
            </div>
        </div>
    </div>
</div>
