.app-main-action-button {
    width: 100%;
    border-radius: 4px;
    background-color: var(--theme-accent-color);
    color: var(--theme-accent-color-default-contrast);
}

.main-action-menu-icon {
    color: var(--theme-accent-color);
}
