$mat-line: '.mat-line';
$mat-form-field: '.mat-mdc-form-field';
$mat-form-field-flex: '.mat-mdc-form-field-flex';
$mat-form-field-wrapper: '.mat-mdc-text-field-wrapper';
$mat-line-ripple: '.mdc-line-ripple';
$mat-select: '.mat-mdc-select';
$mat-select-value: '.mat-select-value';
$mat-slide-toggle: '.mat-mdc-slide-toggle';
$mat-form-field-infix: '.mat-mdc-form-field-infix';
$mat-select-arrow-wrapper: '.mat-mdc-select-arrow-wrapper';
$mat-dialog-surface: '.mat-mdc-dialog-surface';
$mdc-dialog: '.mdc-dialog';
$mat-notched-outline: '.mdc-notched-outline';
$mat-select-arrow: '.mat-mdc-select-arrow';
$mat-notched-outline-leading: '.mdc-notched-outline__leading';
$mat-notched-outline-trailing: '.mdc-notched-outline__trailing';
$mat-notched-outline-notch: '.mdc-notched-outline__notch';
$mat-text-field-filled: '.mdc-text-field--filled';
$mat-text-field-disabled: '.mdc-text-field--disabled';
$mat-switch: '.mdc-switch';
$mat-switch-handle: '.mdc-switch__handle';
$mat-switch-track: '.mdc-switch__track';
$mat-list-item: '.mdc-list-item';
$mat-text-field: '.mdc-text-field';
$mat-form-field-disabled: '.mat-form-field-disabled';
$mat-select-disabled: '.mat-mdc-select-disabled';
$mat-select-value: '.mat-mdc-select-value';
$mat-form-field-subscript-wrapper: '.mat-mdc-form-field-subscript-wrapper';
