<div>
  <div mat-dialog-title class="div-title ">{{ data.title | translate }} </div>
  <div class ="div-button">
    <button mat-icon-button  title="{{ 'SECURITY_MARKS.HELP' | translate}}" >
      <mat-icon >help</mat-icon>
   </button>
   <button mat-icon-button mat-dialog-close  title="{{ 'SECURITY_MARKS.CLOSE' | translate}}">
      <mat-icon >close</mat-icon>
   </button>
  </div>
</div>

<div *ngFor ="let group of map | keyvalue" class="div-table">
  <hr>
  <p>{{ group.key.groupName }} (  {{ group.key.groupType }} )</p>
  <table>
     <tr>
        <td *ngFor ="let marks of group.value"  (click)="selectMarks(marks.name, group.key.groupName)"> {{marks.name}}</td>
     </tr>
  </table>
</div>

<footer mat-dialog-actions>
  <button mat-button mat-dialog-close>
    {{ 'SECURITY_MARKS.CANCEL' | translate}}
  </button>
  <button mat-button color="primary" class="save" >
    {{ 'SECURITY_MARKS.SAVE' | translate }}
  </button>
</footer>