<div>
  <div mat-dialog-title class="div-title ">{{ data.title | translate }} </div>
  <div class ="div-button">
    <button mat-icon-button  title="{{ 'SECURITY_MARKS.HELP' | translate}}" >
      <mat-icon >help</mat-icon>
   </button>
   <button mat-icon-button mat-dialog-close  title="{{ 'SECURITY_MARKS.CLOSE' | translate}}">
      <mat-icon >close</mat-icon>
   </button>
  </div>
</div>

<div class="divScroll">
  <div *ngFor ="let group of availableGroupAndMarkMap | keyvalue" class="div-table">
    <hr>
    <p>{{ group.key.groupName }} (  {{ group.key.groupType }} )</p>
    <table>
      <tr>
        <ng-container *ngFor ="let marks of group.value">
          <td (click)="manageSecurityMarksList(marks.id, group.key.id)"
              [class]="isSelected(marks.id, group.key.id)">{{marks.name}}</td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>

<footer mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="handleCancel()">
    {{ 'SECURITY_MARKS.CANCEL' | translate}}
  </button>
  <button mat-button color="primary" class="save" (click)="onSave()">
    {{ 'SECURITY_MARKS.SAVE' | translate }}
  </button>
</footer>
