name: "Release"

on:
  workflow_dispatch:
    inputs:
      dry-run-release:
        description: 'enable dry-run'
        required: false
        type: boolean
        default: true
  push:
    branches:
      - master
      - develop

env:
  APP_CONFIG_ECM_HOST: ${{ secrets.PIPELINE_ENV_URL }}
  ADMIN_EMAIL: ${{ secrets.PIPELINE_ADMIN_USERNAME }}
  ADMIN_PASSWORD: ${{ secrets.PIPELINE_ADMIN_PASSWORD }}
  AWS_REGION: "eu-west-2"
  CONTENT_CE_DIST_PATH: "./dist/content-ce"
  APP_CONFIG_PROVIDER: ECM
  APP_CONFIG_AUTH_TYPE: BASIC
  APP_CONFIG_OAUTH2_HOST: http://localhost:4200/auth/realms/alfresco
  PLAYWRIGHT_E2E_HOST: "http://localhost:4200"
  APP_CONFIG_OAUTH2_CLIENTID: alfresco
  APP_CONFIG_PLUGIN_AOS: true
  APP_CONFIG_PLUGIN_CONTENT_SERVICE: true
  APP_CONFIG_PLUGIN_FOLDER_RULES: true
  APP_CONFIG_ENABLE_MOBILE_APP_SWITCH: true
  APP_CONFIG_SESSION_TIME_FOR_OPEN_APP_DIALOG_DISPLAY_IN_HOURS: "12"
  APP_CONFIG_OAUTH2_IMPLICIT_FLOW: true
  APP_CONFIG_OAUTH2_SILENT_LOGIN: true
  APP_CONFIG_OAUTH2_REDIRECT_LOGOUT: /
  APP_CONFIG_OAUTH2_REDIRECT_LOGIN: /
  APP_CONFIG_OAUTH2_REDIRECT_SILENT_IFRAME_URI: "{protocol}//{hostname}{:port}/assets/silent-refresh.html"
  NPM_REGISTRY_ADDRESS: ${{ secrets.NPM_REGISTRY_ADDRESS }}


jobs:
  publish-docker-registry:
    name: "Publish to Quay"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - uses: ./.github/actions/setup
      - name: publish
        uses: ./.github/actions/publish-image
        with:
          branch_name: ${{ env.BRANCH_NAME }}
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          dry-run: ${{ inputs.dry-run-release }}

  publish-to-dockerhub:
    name: "Publish to Dockerhub"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - uses: ./.github/actions/setup
      - name: publish
        uses: ./.github/actions/publish-image
        with:
          branch_name: ${{ env.BRANCH_NAME }}
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dry-run: ${{ inputs.dry-run-release }}

  publish-git-tag:
    name: "Publish Git Tag"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - uses: ./.github/actions/setup
      - uses: Alfresco/alfresco-build-tools/.github/actions/configure-git-author@v1.35.0
        with:
          username: ${{ vars.BOT_GITHUB_USERNAME }}
          email: ${{ vars.BOT_GITHUB_EMAIL }}
          global: true
      - name: publish
        uses: ./.github/actions/git-tag
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch_name: ${{ env.BRANCH_NAME }}
          dry-run: ${{ inputs.dry-run-release }}

  publish-libs:
    name: "Publish libs to NPM and GitHub registry"
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - uses: ./.github/actions/setup
      - name: check PR number
        id: action
        uses: kamatama41/get-pr-number-action@v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: save PR number
        shell: bash
        run: |
          echo "PR_NUMBER=${{ steps.action.outputs.number }}" >> $GITHUB_ENV
      - name: publish
        uses: ./.github/actions/publish-libs
        with:
          branch_name: ${{ env.BRANCH_NAME }}
          github_token: ${{ secrets.BOT_GITHUB_TOKEN }}
          npm_registry_address: ${{ vars.NPM_REGISTRY_ADDRESS }}
          npm_registry_token: ${{ secrets.NPM_REGISTRY_TOKEN }}
          npm_tag: ${{ env.TAG_NPM }}
          dry-run: ${{ inputs.dry-run-release }}
