@import 'mixins';

@mixin aca-result-row-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .aca-search-results-row {
    @include flex-column;
  }

  .line {
    margin: 5px;
  }

  .bold {
    font-weight: 400;
    color: mat-color($foreground, text, 0.87);
  }

  .link {
    text-decoration: none;
    color: mat-color($foreground, text, 0.87);
  }

  .link:hover,
  .aca-location-link .adf-datatable-cell-value:hover {
    color: mat-color($primary) !important;
    text-decoration: underline;
  }

  .adf-is-selected .link:not(:hover),
  .adf-is-selected .aca-location-link .adf-datatable-cell-value:not(:hover) {
    text-decoration: none;
    color: mat-color($primary, A400) !important;
  }
}
