@import 'mixins';

.aca-search-results-row {
  @include flex-column;
}

.line {
  margin: 5px;
}

.bold {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.link:hover {
  color: #2196f3;
  text-decoration: underline;
}
